<f:layout name="Default" />
<f:section name="Main">

    <!--Main Content-->
    <main>
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
    </main>

    <!--bottom Nav Rootline-->
    <nav class="bottomNav clearfix">
        <div class="wrapper">
            <div id="rootlineNav">
                <f:if condition="{menuBreadcrumb}">
                    <p>
                        <f:translate key="LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.breadcrumb" />
                    </p>
                    <ul class="menuBreadcrumb">
                        <f:for each="{menuBreadcrumb}" as="breadItem">
                            <f:render partial="Navigation/BreadcrumbItem" arguments="{breadItem: breadItem}" />
                        </f:for>
                    </ul>
                </f:if>
            </div>

        </div><!-- END center DIV -->
    </nav>

    <!--Footer-->
    <footer id="mainFooter" class="wrapper clearfix">
        <h2 class="visuallyhidden">This is the Headline of the footer but will not be shown.</h2>
        <div class="center">
            <!--Footer left-->
            <div class="footerLeft">
                <div class="footerLeftBottom">
                    <address class="addressOne">
                        <figure class="footerLogoContainer">
                            <a href="index.php?id=1" title="Hier kommen Sie zur Startseite.">
                                <svg class="footerLogo" Version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px"
                                    width="309px" height="41px" viewBox="0 0 309 41" overflow="visible"
                                    enable-background="new -0.1 243.1 309 41" xml:space="preserve">
                                    <defs>
                                    </defs>
                                    <path fill="#95DE11"
                                        d="M0.8,8.5h18.1L0,30.3v7.9h31v-7.5H11.8L30.4,8.9v-8H0.8V8.5z" />
                                    <path fill="#95DE11" fill-opacity="0.9412"
                                        d="M40.5,11.2c3.3-2.5,7.4-4.1,11.5-4.1c5.7,0,8.4,2,8.4,8H55c-4.1,0-8.8,0.4-12.5,2.2
                                   c-3.7,1.8-6.4,5.1-6.4,10.7c0,7.1,6.4,11.1,13,11.1c4.4,0,9.3-2.3,11.5-6.4h0.1c0.1,1.2,0.1,3.6,0.4,5.6h8.6
                                   c-0.2-2.9-0.4-5.5-0.4-8.3c-0.1-2.8-0.1-5.6-0.1-9.3v-4.8c0-11-4.7-15.7-16.1-15.7c-4.1,0-9.2,1.1-13,2.8L40.5,11.2z M45.4,27.4
                                   c0-5.7,6.4-6.4,10.8-6.4h4.2c0,2.9-0.4,5.6-2,7.7c-1.5,2-3.8,3.3-6.8,3.3C48.1,32,45.4,30.6,45.4,27.4L45.4,27.4z" />
                                    <path fill="#95DE11"
                                        d="M77.2,8.5h18.1l-6.1,7L76.4,30.3v7.9h31v-7.5H88.3l18.6-21.8v-8H77.2V8.5z" />
                                    <path fill="#95DE11" d="M149.3,0.9h-9.7v18.3c0,4.8-1.5,12.4-8.6,12.4c-6.2,0-6.3-6.2-6.3-10.7V0.9h-9.7v23.6
                                   c0,8.4,3.8,14.6,12.7,14.6c5.1,0,9.3-2.3,12.2-5.9h0.1v5.1h9.2V0.9z" />
                                    <path fill="#95DE11" d="M158.3,38.2h10.1V28.1h-10.1V38.2z" />
                                    <path fill="#2F383C" d="M183,25.2c0-3.7,1.7-8.4,6.2-8.4c4.5,0,5.7,4.9,5.7,8.4c0,3.6-1.3,8.6-5.8,8.6C184.5,33.8,183,29,183,25.2z
                                    M176.1,38.5h6.7v-3.2h0.1c2,2.8,5.2,3.8,8.1,3.8c8.1,0,11.1-6.7,11.1-13.9c0-7.3-3-13.8-11.1-13.8c-3.6,0-6,1.5-7.9,4H183V0h-6.9
                                   V38.5z" />
                                    <path fill="#2F383C"
                                        d="M212.4,22.7c0.3-3.5,2.3-6.2,6.1-6.2c3.9,0,5.4,2.9,5.6,6.2H212.4z M228.7,31.4c-2.6,1.4-5.4,2.7-8.8,2.7
                                   c-4.3,0-7.2-2.4-7.5-6.7h18.3c0-9.2-2.8-16-12.6-16c-8.2,0-12.3,6.3-12.3,14c0,8.7,5.1,13.7,13.8,13.7c3.7,0,6.6-0.7,9.1-2.1V31.4z" />
                                    <path fill="#2F383C" d="M236.2,38.5h6.9v-9.7c0-3.8,0-10.8,5.6-10.8c1.2,0,2.5,0.2,3.1,0.6v-6.9c-0.7-0.2-1.4-0.2-2.1-0.2
                                   c-4.1,0-6.9,4.2-7.2,6.6h-0.1v-6h-6.1V38.5z" />
                                    <path fill="#2F383C" d="M256.2,38.5h6.9V0h-6.9V38.5z" />
                                    <path fill="#2F383C"
                                        d="M270.4,38.5h6.9V12.1h-6.9V38.5z M270.4,7.2h6.9V0.7h-6.9V7.2z" />
                                    <path fill="#2F383C" d="M284.5,38.5h6.9V25.6c0-3.4,1.1-8.8,6.1-8.8c4.4,0,4.5,4.4,4.5,7.6v14.1h6.9V21.8c0-6-2.7-10.4-9-10.4
                                   c-3.6,0-6.5,1.2-8.7,4.2H291v-3.6h-6.5V38.5z" />
                                </svg>
                            </a>
                        </figure>
                        <p>
                            FILM+DIGITAL<br>
                            Bayerische Straße 27<br>
                            10707 Berlin<br>
                            <a class="telefonlink" href="tel:+49307859279">T: +49 30 785 9279</a><br>
                            <a href="mailto:info@zazu.berlin">info@zazu.berlin</a><br>
                            <a href="http://www.zazu.berlin" title="Sie sind schon auf der Seite von zazu.berlin"
                                target="_top">Web: zazu.berlin</a>
                        </p>
                    </address>
                    <address class="addressTwo">
                        <figure class="footerLogoContainer">
                            <a href="index.php?id=1" title="Hier kommen Sie zur Startseite.">
                                <svg class="footerLogo" version="1.1" viewBox="0 0 585 64"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g transform="translate(0,-36)">
                                        <g fill="#2f383c">
                                            <path
                                                d="m296.92 99.043h12.733l9.1542-32.705h0.16644l9.3206 32.705h13.149l13.149-42.858h-10.652l-8.9045 31.707h-0.16644l-9.3206-31.707h-12.982l-8.6548 31.707h-0.16644l-9.487-31.707h-11.817z" />
                                            <path
                                                d="m361.47 99.043h11.151v-42.858h-11.151zm0-50.681h11.151v-10.652h-11.151z" />
                                            <path
                                                d="m384.3 99.043h11.151v-20.971c0-5.4925 1.7476-14.231 9.8199-14.231 7.1569 0 7.2401 7.0737 7.2401 12.317v22.885h11.151v-27.046c0-9.6535-4.4106-16.81-14.563-16.81-5.8254 0-10.569 1.9141-14.064 6.824h-0.16644v-5.8254h-10.569z" />
                                            <path
                                                d="m433.35 64.839h20.805l-21.72 25.132v9.071h35.618v-8.6549h-22.053l21.304-25.049v-9.1542h-33.954z" />
                                            <path
                                                d="m484.69 73.411c0.49932-5.7422 3.6617-10.07 9.9032-10.07s8.7381 4.6603 9.071 10.07zm26.464 14.147c-4.161 2.3302-8.8213 4.3274-14.231 4.3274-6.9072 0-11.734-3.9113-12.233-10.819h29.626c0-14.98-4.4939-25.881-20.389-25.881-13.315 0-19.89 10.236-19.89 22.636 0 14.064 8.2388 22.22 22.386 22.22 5.9918 0 10.652-1.1651 14.73-3.412z" />
                                            <path d="m523.36 99.043h11.151v-62.415h-11.151z" />
                                            <path
                                                d="m546.19 99.043h11.151v-20.971c0-5.4925 1.7476-14.231 9.8199-14.231 7.1569 0 7.2401 7.0737 7.2401 12.317v22.885h11.151v-27.046c0-9.6535-4.4106-16.81-14.563-16.81-5.8254 0-10.569 1.9141-14.064 6.824h-0.16644v-5.8254h-10.569z" />
                                        </g>
                                        <path
                                            d="m1.2989 50.053h29.52l-30.818 35.66v12.871h50.538v-12.28h-31.291l30.228-35.542v-12.989h-48.176z"
                                            fill="#95de11" />
                                        <path
                                            d="m66.124 54.54c5.3136-4.0147 12.045-6.6124 18.775-6.6124 9.3285 0 13.697 3.3062 13.697 13.107h-8.7373c-6.6124 0-14.406 0.59039-20.428 3.5424-6.0211 2.952-10.391 8.2655-10.391 17.358 0 11.572 10.509 18.066 21.254 18.066 7.2023 0 15.115-3.7785 18.775-10.509h0.23624c0.11751 1.8893 0.11751 5.9039 0.70872 9.092h13.933c-0.35498-4.7231-0.59122-8.974-0.70873-13.579-0.11873-4.487-0.23624-9.092-0.23624-15.232v-7.7932c0-17.948-7.6748-25.623-26.213-25.623-6.7311 0-14.996 1.7712-21.137 4.6051zm8.0298 26.45c0-9.3282 10.509-10.509 17.593-10.509h6.8486c0 4.7231-0.70873 9.092-3.3062 12.516-2.4799 3.3062-6.2574 5.4316-11.1 5.4316-5.6674 0-10.036-2.2435-10.036-7.4389z"
                                            fill="#95de11" fill-opacity=".94118" />
                                        <path
                                            d="m126.07 50.053h29.519l-9.883 11.435-20.935 24.225v12.871h50.538v-12.28h-31.291l30.228-35.542v-12.989h-48.176z"
                                            fill="#95de11" />
                                        <path
                                            d="m243.55 37.773h-15.823v29.756c0 7.7932-2.4799 20.191-13.933 20.191-10.155 0-10.272-10.037-10.272-17.476v-32.472h-15.822v38.376c0 13.697 6.2574 23.852 20.663 23.852 8.266 0 15.113-3.7785 19.956-9.6824h0.23502v8.2655h14.997z"
                                            fill="#95de11" />
                                        <path d="m259.89 98.583h16.531v-16.531h-16.531z" fill="#95de11" />
                                    </g>
                                </svg>
                            </a>
                        </figure>
                        <p>
                            DRUCK+DESIGN<br>
                            Ob der Au 22<br>
                            78737 Fluorn-Winzeln<br>
                            <a class="telefonlink" href="tel:+49740291116">T: +49 7402 91116</a><br>
                            <a href="mailto:info@zazudesign.de">info@zazudesign.de</a></br />
                            <a href="https://www.zazudesign.de" title="Hier kommen Sie zur Seite von zazu.winzeln"
                                target="_blank">www.zazudesign.de</a>
                        </p>
                    </address>
                </div>
            </div>
            <!--Footer center-->
            <div class="footerCenter">
                <svg id="germanyMap" version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="300px" height="400px" viewBox="-4.824 -3.042 300 400"
	 overflow="visible" enable-background="new -4.824 -3.042 300 400" xml:space="preserve">
<defs>
</defs>
<path id="path4_1_" fill="none" stroke="#000000" stroke-width="1.075" d="M90,28.043c17.478,0.974,9.126-12.186,2.419-20.598
	c-3.965-17.526,18.882,4.708,27.363-2.498c8.766-0.967,17.246,11.111,7.257,20.148c7.021-0.87,9.578-0.231,9.514,6.336
	c0.443-11.074,30.726,7.353,25.667-6.285c1.42-9.788,12.099,0.03,3.146,4.792c1.271,7.801-18.47,22.026-5.446,21.29
	c7.077-4.372,17.634,2.771,20.946-8.293c13.289,0.086,20.826-10.014,29.479-18.234c8.352-1.704,8.137,3.207,1.275,3.723
	c8.075,6.264,7.391-0.882,11.482-2.864c7.941,9.489-2.628-7.905,6.036-11.402c5.009-4.856,14.47,5.084,11.431,11.84
	c14.973,5.466-17.561,6.394-0.732,14.882c12.209-6.048,32.426,13.34,10.897,15.309c14.95,2.904,14.827,24.164,15.172,38.053
	c-16.036,10.583,7.731,14.609,10.081,25.96c-3.705,10.949,4.775,16.712,4.559,28.189c-4.684,13,4.66,23.491,9.582,29.204
	c3.762,8.266,2.451,34.994-10.604,27.265c2.998-11.088-19.563-10.187-7.983-1.391c-11.424,4.737-23.613,10.747-32.79,17.106
	c-7.97,2.87-12.184,13.279-23.893,10.577c-8.256,3.29-6.174,18.498-13.936,6.282c-4.9,4.91,7.881,17.242,14.701,19.861
	c-7.471,10.927-0.391,24.511,10.905,29.597c10.809,6.481,18.545,18.038,30.312,24.088c7.362,9.176,3.119,20.976-7.921,16.735
	c1.7,13.381-13.277,16.475-20.646,21.251c-7.658,3.336,7.234,14.892,4.529,21.501c10.162,0.167-1.76,23.258-5.975,6.074
	c-4.589-6.321-16.684-5.458-23.492-4.167c0.225,9.454-20.725-0.792-22.479,11.918c-12.256,11.379-21.162-5.378-33.596-6.119
	c-4.199-1.584-2.558,22.96-11.069,13.644c0.894-9.434-14.523-13.099-16.485-9.312c-12.194,8.828-5.378-4.984-29.708-6.795
	c-2.847-9.837-19.348-8.571-12.659,2.865c-10.854-1.004-36.173,5.502-29.729-14.874c7.331-11.294,4.264-25.873,11.118-36.702
	c3.285-7.043,10.617-14.281,12.249-20.267c-12.51-1.758-24.344-18.365-36.542-8.135c-3.402-3.86-3.271,1.939-8.129-6.866
	c-6.541,9.873-10.628-11.671-17.077-16.815c9.403-9.587,1.277-17.32-3.339-25.646c3.773-11.539,9.5-21.034,2.359-30.981
	c3.81-7.534-9.889-6.243-3.933-14.879c-7.187-5.204-2.685-7.242,1.647-13.192c4.785-10.811,6.643-22.045,0.111-32.967
	c8.146-2.68,31.208,2.515,21.801-15.962c12.254,1.762,16.776-17.568,2.569-17.336c-5.571-10.594,11.131-6.788,10.568-18.354
	c7.963-11.988,3.292-22.841,1.059-33.911c1.988-10.968,23.213-8.613,30.605-5.958c1.669,4.412-0.972,18.973,4.822,8.85
	c-3.816-11.168,15.766,1.442,8.55-12.497c-2.359-15.459,26.668,0.218,12.372-12.144c0.709-7.391,1.583-14.614-3.047-17.256
	C86.523,32.798,87.373,33.74,90,28.043L90,28.043z"/>
<ellipse id="ellipse6_1_" fill="#5C2466" cx="77.819" cy="344.812" rx="5.297" ry="5.801"/>
<ellipse id="ellipse8_1_" fill="#10A1C7" cx="232.522" cy="116.022" rx="6.17" ry="6.463"/>
<path id="path12_1_" fill="#95DE11" d="M139.743,105.111h4.91l-5.126,5.931v2.141h8.406v-2.042h-5.204l5.028-5.912v-2.16h-8.014
	V105.111z"/>
<path id="path14_1_" fill="#95DE11" fill-opacity="0.9412" d="M150.524,105.857c0.884-0.667,2.004-1.1,3.123-1.1
	c1.552,0,2.278,0.55,2.278,2.18h-1.453c-1.101,0-2.396,0.098-3.397,0.589c-1.002,0.491-1.729,1.375-1.729,2.887
	c0,1.925,1.748,3.005,3.535,3.005c1.197,0,2.514-0.629,3.123-1.748h0.039c0.02,0.314,0.02,0.982,0.117,1.512h2.318
	c-0.059-0.786-0.099-1.493-0.118-2.259c-0.02-0.746-0.039-1.512-0.039-2.534v-1.296c0-2.986-1.276-4.262-4.36-4.262
	c-1.119,0-2.494,0.294-3.516,0.766L150.524,105.857z M151.86,110.257c0-1.551,1.748-1.748,2.926-1.748h1.14
	c0,0.786-0.118,1.513-0.55,2.082c-0.412,0.55-1.041,0.903-1.846,0.903C152.586,111.494,151.86,111.121,151.86,110.257z"/>
<path id="path16_1_" fill="#95DE11" d="M160.497,105.111h4.91l-1.645,1.902l-3.481,4.029v2.141h8.406v-2.042h-5.205l5.028-5.912
	v-2.161h-8.014V105.111z"/>
<path id="path18_1_" fill="#95DE11" d="M180.039,103.069h-2.632v4.949c0,1.296-0.412,3.358-2.318,3.358
	c-1.688,0-1.708-1.669-1.708-2.907v-5.401h-2.632v6.383c0,2.278,1.041,3.968,3.438,3.968c1.375,0,2.514-0.629,3.318-1.611h0.039
	v1.375h2.495V103.069z"/>
<path id="path20_1_" fill="#95DE11" d="M182.754,113.184h2.75v-2.75h-2.75V113.184z"/>
<path id="path24_1_" fill="#2F383C" d="M189.448,109.619c0-0.977,0.461-2.226,1.628-2.226c1.181,0,1.507,1.29,1.507,2.226
	c0,0.964-0.34,2.267-1.533,2.267C189.84,111.886,189.448,110.61,189.448,109.619z M187.615,113.135h1.765v-0.855h0.027
	c0.529,0.747,1.371,1.018,2.145,1.018c2.145,0,2.932-1.765,2.932-3.679c0-1.927-0.787-3.638-2.932-3.638
	c-0.95,0-1.588,0.394-2.091,1.059h-0.026v-4.085h-1.819V113.135z"/>
<path id="path26_1_" fill="#2F383C" d="M197.202,108.954c0.082-0.937,0.598-1.643,1.615-1.643c1.019,0,1.426,0.76,1.48,1.643
	H197.202z M201.518,111.261c-0.678,0.38-1.438,0.706-2.32,0.706c-1.127,0-1.914-0.638-1.996-1.765h4.833
	c0-2.443-0.733-4.221-3.325-4.221c-2.172,0-3.244,1.669-3.244,3.692c0,2.294,1.344,3.624,3.65,3.624c0.978,0,1.738-0.19,2.402-0.556
	V111.261z"/>
<path id="path28_1_" fill="#2F383C" d="M203.51,113.135h1.818v-2.565c0-1.004,0-2.851,1.479-2.851c0.326,0,0.651,0.055,0.814,0.149
	v-1.833c-0.19-0.054-0.38-0.054-0.556-0.054c-1.086,0-1.833,1.1-1.914,1.751h-0.027v-1.588h-1.615V113.135z"/>
<path id="path30_1_" fill="#2F383C" d="M208.786,113.135h1.818v-10.18h-1.818V113.135z"/>
<path id="path32_1_" fill="#2F383C" d="M212.549,113.135h1.82v-6.991h-1.82V113.135z M212.549,104.869h1.82v-1.738h-1.82V104.869z"
	/>
<path id="path34_1_" fill="#2F383C" d="M216.274,113.135h1.818v-3.42c0-0.896,0.285-2.321,1.602-2.321
	c1.168,0,1.182,1.154,1.182,2.009v3.733h1.818v-4.412c0-1.574-0.719-2.742-2.375-2.742c-0.95,0-1.724,0.312-2.294,1.113h-0.026
	v-0.95h-1.725V113.135z"/>
<path id="path44_1_" fill="#95DE11" d="M82.672,328.214h4.754l-4.963,5.743v2.073h8.14v-1.978h-5.04l4.869-5.725v-2.092h-7.759
	V328.214z"/>
<path id="path46_1_" fill="#95DE11" fill-opacity="0.9412" d="M93.112,328.937c0.855-0.646,1.94-1.064,3.023-1.064
	c1.503,0,2.207,0.532,2.207,2.11h-1.408c-1.065,0-2.32,0.096-3.29,0.571c-0.97,0.475-1.673,1.331-1.673,2.795
	c0,1.864,1.692,2.91,3.423,2.91c1.16,0,2.434-0.608,3.024-1.692h0.038c0.019,0.304,0.019,0.95,0.114,1.464h2.244
	c-0.057-0.761-0.095-1.445-0.114-2.187c-0.019-0.723-0.038-1.465-0.038-2.454v-1.255c0-2.891-1.236-4.127-4.222-4.127
	c-1.084,0-2.415,0.285-3.404,0.742L93.112,328.937z M94.405,333.196c0-1.502,1.693-1.692,2.834-1.692h1.103
	c0,0.761-0.114,1.465-0.533,2.016c-0.399,0.533-1.008,0.875-1.788,0.875C95.108,334.395,94.405,334.033,94.405,333.196z"/>
<path id="path48_1_" fill="#95DE11" d="M102.768,328.214h4.754l-1.592,1.842l-3.372,3.901v2.073h8.14v-1.978h-5.04l4.869-5.725
	v-2.092h-7.759V328.214z"/>
<path id="path50_1_" fill="#95DE11" d="M121.69,326.236h-2.548v4.792c0,1.256-0.399,3.252-2.244,3.252
	c-1.636,0-1.654-1.616-1.654-2.814v-5.229h-2.548v6.181c0,2.206,1.008,3.842,3.328,3.842c1.331,0,2.434-0.608,3.214-1.56h0.038
	v1.331h2.415V326.236z"/>
<path id="path52_1_" fill="#95DE11" d="M124.32,336.03h2.663v-2.662h-2.663V336.03z"/>
<path id="path72_1_" fill="#2F383C" d="M130.283,336.104h2.051l1.475-5.268h0.026l1.501,5.268h2.118l2.118-6.902h-1.716
	l-1.434,5.106h-0.027l-1.501-5.106h-2.091l-1.394,5.106h-0.027l-1.528-5.106h-1.903L130.283,336.104z"/>
<path id="path74_1_" fill="#2F383C" d="M140.681,336.104h1.796v-6.902h-1.796V336.104z M140.681,327.941h1.796v-1.716h-1.796
	V327.941z"/>
<path id="path76_1_" fill="#2F383C" d="M144.356,336.104h1.796v-3.378c0-0.884,0.281-2.291,1.581-2.291
	c1.153,0,1.166,1.139,1.166,1.983v3.686h1.796v-4.355c0-1.555-0.71-2.708-2.346-2.708c-0.938,0-1.701,0.309-2.265,1.1h-0.026v-0.938
	h-1.703V336.104z"/>
<path id="path78_1_" fill="#2F383C" d="M152.254,330.595h3.351l-3.498,4.048v1.461h5.736v-1.394h-3.552l3.432-4.034v-1.475h-5.469
	V330.595z"/>
<path id="path80_1_" fill="#2F383C" d="M160.524,331.976c0.08-0.925,0.59-1.622,1.595-1.622s1.407,0.751,1.461,1.622H160.524z
	 M164.786,334.254c-0.67,0.375-1.42,0.697-2.291,0.697c-1.113,0-1.891-0.63-1.971-1.742h4.771c0-2.413-0.724-4.169-3.283-4.169
	c-2.145,0-3.204,1.648-3.204,3.646c0,2.266,1.327,3.579,3.605,3.579c0.966,0,1.716-0.188,2.372-0.55V334.254z"/>
<path id="path82_1_" fill="#2F383C" d="M166.752,336.104h1.797v-10.052h-1.797V336.104z"/>
<path id="path84_1_" fill="#2F383C" d="M170.428,336.104h1.797v-3.378c0-0.884,0.281-2.291,1.581-2.291
	c1.153,0,1.166,1.139,1.166,1.983v3.686h1.796v-4.355c0-1.555-0.71-2.708-2.346-2.708c-0.938,0-1.701,0.309-2.265,1.1h-0.026v-0.938
	h-1.703V336.104z"/>
</svg>
            </div>
            <!--Footer right-->
            <div class="footerRight">
                <nav id="footerNav">
                    <ul class="footerNavigation">
                        <f:comment>Footer Menu for 3 Levels plus Home on Top as separate dataProcessor jsutHome
                        </f:comment>
                        <f:for each="{justHome}" as="itemH">
                            <li class="level1{f:if(condition:'{itemH.current}',then:' current')}">
                                <a href="{itemH.link}" target="_top" title="{itemH.title}">
                                    {itemH.title}
                                </a>
                            </li>
                        </f:for>
                        <f:comment>Level 1</f:comment>
                        <f:for each="{menuFooter}" as="footerItem">
                            <li class="level1{f:if(condition:'{footerItem.current}',then:' current')}">
                                <a href="{footerItem.link}" target="_top" title="{footerItem.title}">
                                    {footerItem.title}
                                </a>
                            </li>
                            <f:comment>Level 2</f:comment>
                            <f:if condition="{footerItem.children}">
                                <f:for each="{footerItem.children}" as="child">
                                    <li class="level2{f:if(condition: child.current, then:' current')}">
                                        <a href="{child.link}" target="_top" title="{child.title}">
                                            {child.title}
                                        </a>
                                    </li>
                                    <f:comment>Level 3</f:comment>
                                    <f:if condition="{child.children}">
                                        <f:for each="{child.children}" as="childOf2">
                                            <li class="level3{f:if(condition: childOf2.current, then:' current')}">
                                                <a href="{childOf2.link}" target="_top" title="{childOf2.title}">
                                                    {childOf2.title}
                                                </a>
                                            </li>
                                        </f:for>
                                    </f:if>
                                </f:for>
                            </f:if>
                        </f:for>
                    </ul>
                </nav>
            </div>
            <!--meta Nav-->
            <ul id="metaNav">
                <f:for each="{menuMeta}" as="metaItem">
                    <li class="metaLi{f:if(condition:'{metaItem.current}',then:' current')}">
                        <a href="{metaItem.link}" target="_top" title="{metaItem.title}">
                            {metaItem.title}
                        </a>
                    </li>
                </f:for>
            </ul>
        </div>
    </footer>
    <div id="socialMedia" class="wrapper clearfix">
        <div class="center">
            <div class="share">
                <p>
                    <f:translate key="LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.shariffShare" />
                </p>
                <f:render partial="Shariff" />
            </div>
            <div class="visitUs">
                <p>
                    <f:translate
                        key="LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.visitUs" />
                </p>
                <ul class="visitOurSocialMedia">
                    <li class="linkedin">
                    <a href="" title="<f:translate key='LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.linkedinUs' />" targt="_blank" rel="nofollow"><span class="fab fa-linkedin-in"></span></a>
                    </li>
                    <li class="xing">
                    <a href="" title="<f:translate key='LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.xingUs' />"
                    targt="_blank" rel="nofollow"><span class="fab fa-xing"></span></a>
                    </li>
                    <li class="twitter">
                    <a href="" title="<f:translate key='LLL:EXT:xzzxpackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.twitterUs' />"
                    targt="_blank" rel="nofollow"><span class="fab fa-twitter"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="zazuRef">
        TYPO3 + Webdesign <a href="https://zazu.berlin" title="Hier kommen Sie zur Webseite von zazu.berlin" target="_blank" rel="noopener"><span class="zazuGreen">zazu</span>.berlin</a>
    </div>
<!--jquery should be on top of all js-->
    <script src="{f:uri.resource(path:'JavaScript/Min/jquery-3.3.1.min.js', extensionName:'xzzxpackage', absolute: '0')}"></script>
</f:section>
