@charset "UTF-8";
/**
* Font - basic Font for the webpage
**/



/*
Basic-Styles

ZAZU-CI-COLORS
green: #95de11;
blue: #10a1c7;
purple: #5c2466;
light grey: #444b51;
dark blue grey: #2f383c;
*/


/*Headlines*/
@font-face {
    font-family: 'noto_sansregular';
    src: url('../../Fonts/NotoSans/notosans-regular.woff2') format('woff2'),
        url('../../Fonts/NotoSans/notosans-regular.woff') format('woff'),
        url('../../Fonts/NotoSans/notosans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*copy text*/
@font-face {
    font-family: 'open_sansregular';
    src: url('../../Fonts/OpenSans/open-sans-regular.woff2') format('woff2'),
        url('../../Fonts/OpenSans/open-sans-regular.woff') format('woff'),
        url('../../Fonts/OpenSans/open-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../../Fonts/OpenSans/open-sans-light.woff') format('woff2'),
        url('../../Fonts/OpenSans/open-sans-light.woff') format('woff'),
        url('../../Fonts/OpenSans/open-sans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**
* Font Awesome Version 5 brands regular and solid
**/

/* this next statement only if the big font awesome file
*  is not included with all the effects
*/

.fa,
.fas,
.far,
.fal,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

/*add the Fonts of FA*/

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("../../Fonts/FontAwesome/fa-brands-400.eot");
    src: url("../../Fonts/FontAwesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../../Fonts/FontAwesome/fa-brands-400.woff2") format("woff2"), url("../../Fonts/FontAwesome/fa-brands-400.woff") format("woff"), url("../../Fonts/FontAwesome/fa-brands-400.ttf") format("truetype"), url("../../Fonts/FontAwesome/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
    font-family: 'Font Awesome 5 Brands';
}

/* use regular and solid only then neccessary*/
/*
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("../../Fonts/FontAwesome/fa-regular-400.eot");
    src: url("../../Fonts/FontAwesome/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../../Fonts/FontAwesome/fa-regular-400.woff2") format("woff2"), url("../../Fonts/FontAwesome/fa-regular-400.woff") format("woff"), url("../../Fonts/FontAwesome/fa-regular-400.ttf") format("truetype"), url("../../Fonts/FontAwesome/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

*/

/*
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url("../../Fonts/FontAwesome/fa-solid-900.eot");
    src: url("../../Fonts/FontAwesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../../Fonts/FontAwesome/fa-solid-900.woff2") format("woff2"), url("../../Fonts/FontAwesome/fa-solid-900.woff") format("woff"), url("../../Fonts/FontAwesome/fa-solid-900.ttf") format("truetype"), url("../../Fonts/FontAwesome/fa-solid-900.svg#fontawesome") format("svg");
}
*/

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}


.fa-twitter::before {
    content: "";
}

.fa-xing::before {
    content: "";
}

.fa-linkedin-in::before {
    content: "\f0e1";
}

/**
*
*  Basic website styling sitepackage
*
**/


/**
*
*  Basic website styling sitepackage
*
**/


/* hyphens
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;*/

html {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #000;
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    /*18px*/
    line-height: 1.5em;
}

/**
    * apply a border-box layout model to all elements
    **/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*wrapper and headlines responsive 320 ==================== border 15 = 290 ===========*/

.wrapper {
    width: 100%;
    padding-left: 4.6875%;
    /* 15 / 320 */
    padding-right: 4.6875%;
    /* 15 / 320 */
}

h1 {
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2em;
    /*36px*/
    margin-top: 2rem;
    margin-bottom: 0.67em;
    line-height: 1.2em;
    color: #6F3B51;
}

h2 {
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.6666666666667em;
    /*30px*/
    margin-top: 2rem;
    margin-bottom: 0.67em;
    line-height: 1.2em;
    color: #6F3B51;
}

h3 {
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.444444445em;
    /*26px*/
    line-height: 1.2em;
    margin-top: 2rem;
    margin-bottom: 0.67em;
    color: #6F3B51;
}

h4 {
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.2222222223em;
    /*22px*/
    line-height: 1.2em;
    margin-top: 2rem;
    margin-bottom: 0.67em;
    color: #6F3B51;
}

h5 {
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.111111112em;
    /*20px*/
    line-height: 1.2em;
    margin-top: 2rem;
    margin-bottom: 0.67em;
    color: #6F3B51;
}


h6 {
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 2rem;
    margin-bottom: 0;
    color: #6F3B51;
}


p {
    margin-top: 0;
}



a {
    text-decoration: none;
    line-height: 1.5em;
}

a,
a:visited {
    color: #000;
}

a:hover {
    color: #6F3B51;
}

li {
    line-height: 1.5em;
}

figure {
    padding: 0;
    margin: 0;
}

img,
svg {
    width: 100%;
    height: auto;
}

#matomo {
    width: 1px;
    height: 1px;
}

/*======= WRAPPER ===== GENERAL ====== WRAPPER =========== GENERAL ================*/

/*======= 576 ========= MEDIA QUERIES ======= border 15 = 546 ===*/

@media only screen and (min-width: 576px) {
    .wrapper {
        padding-left: 2, 604166667%;
        /*15px/576px*/
        padding-right: 2.604166667%;
        /*15px/576px*/
    }
}

/*======= 768 ========= MEDIA QUERIES ======= border 15 = 738 ===*/

@media only screen and (min-width: 768px) {
    .wrapper {
        padding-left: 1.953125%;
        /*15px/768px*/
        padding-right: 1.953125%;
        /*15px/768px*/
    }

    h1 {
        font-size: 2.222222223em;
        /*40px*/
    }

    h2 {
        font-size: 1.8333333em;
        /*33px*/
    }

    h3 {
        font-size: 1.6111111em;
        /*29px*/
    }

    h4 {
        font-size: 1.333333334em;
        /*24px*/
    }

    h5 {
        font-size: 1.222222223em;
        /*22px*/
    }


}

/*======= 990 ======== MEDIA QUERIES ======== border 15 = 960 ===*/

@media only screen and (min-width: 990px) {
    .wrapper {
        padding-left: 1.515151515%;
        /* 15 / 990 */
        padding-right: 1.515151515%;
        /* 15 / 990 */
    }

    h1 {
        font-size: 2.444444445em;
        /*44px*/
    }

    h2 {
        font-size: 2em;
        /*36px*/
    }

    h3 {
        font-size: 1.777777778em;
        /*32px*/
    }

    h4 {
        font-size: 1.44444445em;
        /*26px*/
    }

    h5 {
        font-size: 1.3333334em;
        /*24px*/
    }

}

/*======================= 1398 ========== border 30 and more = end size 1338 ==========*/

/* "center" only necessary when background goes all out*/

@media only screen and (min-width: 1398px) {
    .wrapper {
        width: 1338px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .center {
        width: 1338px;
        margin: 0 auto 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    html {
        font-size: 1.1875em;
        /*19px*/
    }

    h1 {
        font-size: 2.526315789em;
        /*48px*/
    }

    h2 {
        font-size: 2.105263158em;
        /*40px*/
    }

    h3 {
        font-size: 1.842105263em;
        /*35px*/
    }

    h4 {
        font-size: 1.526315789em;
        /*29px*/
    }

    h5 {
        font-size: 1.368421053em;
        /*26px*/
    }
}

/*======= 2512 ======= MEDIA QUERIES Headlines only in endless layout not in THIS, this is limited to 1398

@media only screen and (min-width: 2512px) {

html {
   font-size: 1.375em;
   }

h1 {
  font-size: 3.125em;
  }

h2 {
  font-size: 2.1875em;
  }

h3 {
  font-size: 2.375em;
  }

h4, h5, h6 {
  font-size: 1.375em;
  }
}

==== border 151-45 = 2396 ==*/