@charset "UTF-8";
/**
*
* Template for the Default.htm TEMPLATE
* includes
* Breadcrumb NAV as bottomNav
* plus FOOTER of the page
*
* 20190306
**/

/*======= 320  padding l,r  15  = 290 ===*/
/* bottom Nav = rootline - social Media */

.bottomNav {
    background-color: #444b51;
    padding: 1em 0 1.5em 0;
    color: #95de11;
}

#rootlineNav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

#rootlineNav p {
    margin-bottom: 0;
    margin-top: 0.5em;
    float: left;
}

#rootlineNav li {
    margin-top: 0.5em;
    float: left;
    padding: 0 0 0 0.2em;
}

#rootlineNav a {
    text-decoration: none;
    color: #95de11;
}

#rootlineNav .current {
    text-transform: uppercase;
}

#rootlineNav a:hover {
    color: #10a1c7;
}

/*social Media*/

.socialMedia {
    float: right;
    font-size: 2.5em;
}

/*====== main Footer ===========*/

#mainFooter {
    padding: 1em 0;
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
}

.footerLogoContainer {
    width: 100%;
    padding: 1em;
    float: none;
}

.footerLogo {
    width: auto;
    height: 1.4em;
}

.footerLeft,
.footerRight,
.footerCenter {
    float: left;
    width: 100%;
}

.footerCenter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

#germanyMap {
    width: 100%;
    max-height: 320px;
}

.addressOne,
.addressTwo {
    float: left;
    clear: both;
    margin-top: 1em;
    line-height: 1.4em;
    font-style: normal;
}

.addressOne p,
.addressTwo p {
    line-height: 1.4em;
    margin-left: 1em;
}

footer a:hover {
    color: #10a1c7;
}

/*Main footer nav*/

#footerNav ul {
    /*left intend from border on mobile*/
    margin: 0 0 0 35px;
    list-style-type: none;
    padding-left: 1em;
}


#footerNav li {
    padding: 0.2em 0;
}

/*level-1 distance between margin-top, rest levels no margin*/
#footerNav .level1 a {
    display: inline-block;
    color: #5c2466;
    margin-top: 0.9em;
    text-transform: uppercase;
}

#footerNav .level1 a:hover {
    color: #10a1c7;
}

#footerNav li.level1::before {
    content: '';
    display: inline-block;
    margin-left: -1.2em;
    height: 1em;
    width: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20' width='20' height='24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%2395de11;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EElement 1%3C/title%3E%3Cpath class='a' d='M.1,7.7l3.1-3L.1,1.6A.4.4,0,0,1,0,1.3c0-.1,0-.2.1-.2l1-1h.5L5.9,4.4a.4.4,0,0,1,.1.3c0,.1,0,.2-.1.2L1.6,9.2H1.3c-.1,0-.2,0-.2-.1l-1-.9A.4.4,0,0,1,0,8,.4.4,0,0,1,.1,7.7Z'/%3E%3C/svg%3E") no-repeat 5px 6px;
}

/* meta Nav Impressum - Datenschutz*/

#metaNav {
    margin: 2em 0 2em 0;
    float: right;
    list-style: outside none none;
}

#metaNav li {
    float: left;
    padding: 0 0.5em 0 0.5em;
}

#metaNav li:nth-child(1) {
    border-right: solid 2px #95de11;
}

#metaNav .current {
    color: #5c2466;
}

#metaNav a:hover {
    color: #7fbce1;
}



/**
*
* extension shariff width of elements 110-130
*
**/

.shariff .orientation-horizontal.button-style-standard.shariff-col-3 li {
    max-width: 130px;
}

/*visit us on our social media page*/

#socialMedia {
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
    border-top: solid 1px #95de11;
    border-bottom: solid 1px #95de11;
    margin-bottom: 3em;
}

#socialMedia .center {
    padding-top: 1em;
}

.share {
    float: left;
    margin-bottom: 1.5em;
}

/*shariff symbols a bit lower*/
.share ul {
    margin-top: 3px;
}

.visitUs {
    float: right;
    text-align: right;
}

.visitOurSocialMedia {
    width: 290px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 13px;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}

.visitOurSocialMedia li {
    width: 35px;
    height: 35px;
    margin-left: 3%;
    margin-bottom: 10px;
}

.visitOurSocialMedia li a {
    height: 35px;
    color: #fff;
    position: relative;
    display: block;
}

.visitOurSocialMedia li.twitter a {
    background-color: #55acee;
}

.visitOurSocialMedia li.xing a {
    background-color: #126567;
}

.visitOurSocialMedia li.linkedin a {
    background-color: #0077b5;
}

.visitOurSocialMedia li a span {
    font-size: 22px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
}


/*zazu.berlin Referrence*/
.zazuRef {
    font-size: 0.8em;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.zazuGreen {
    color: #95de11;
}

/*FOOTER responsive*/

/*======= 576 ========= MEDIA QUERIES ======= border 15 = 546 ===*/

@media only screen and (min-width: 576px) {
    .addressOne,
    .addressTwo {
        width: 50%;
        clear: none;
    }
    #germanyMap {
        width: 60%;
        max-height: 350px;
    }
    .footerLogo {
        height: 1.2em;
    }
}

/*======= 768 ========= MEDIA QUERIES ======= border 15 = 738 ===*/

@media only screen and (min-width: 768px) {
    .footerLeft {
        width: 60%;
        margin-top: 0;
    }
    .footerCenter {
        width: 40%;
        margin-top: 18px;
    }
    #germanyMap {
        width: 250px;
        max-height: 250px;
    }
    .footerRight {
        width: 100%;
        margin-top: 0;
    }
    /*--ul---*/
    #footerNav {
        width: 60%;
        -moz-column-count: 2;
        -moz-column-gap: 8px;
        -webkit-column-count: 2;
        -webkit-column-gap: 8px;
        column-count: 2;
        column-gap: 8px;
        padding-top: 0em;
    }
    #footerNav ul {
        margin-top: 0;
        margin-left: 1em;
    }
    .footerLogo {
        height: 1.15em;
    }
}

/*======= 990 ======== MEDIA QUERIES ======== border 15 = 960 ===*/

@media only screen and (min-width: 990px) {}

/*======= 1398 ======= MEDIA QUERIES ======== border 30 = 1338 ==*/

@media only screen and (min-width: 1398px) {
    .footerLeft {
        width: 40.39301310043668%;
        /*370px/916px*/
        margin-top: 0;
    }
    .footerCenter {
        width: 21.17903930131004%; /*194px/916px*/
    }
    .footerRight {
        width: 34.06113537117904%; /*312px/916px*/
        margin-left: 4.366812227074235%; /*40px/916px*/
        margin-top: 0;
    }
    #footerNav {
        width: 100%;
        margin-top: 25px;
    }
    #footerNav ul {
        margin-left: 0;
    }
    .addressOne,
    .addressTwo {
        width: 50%;
    }
    .addressTwo p,
    .addressTwo .footerLogoContainer {
        margin-left: 0;
    }
    .addressOne p {
        margin-left: 0;
    }
    .footerLogoContainer {
        padding-left: 0;
    }
    .footerLogo {
        height: 1.05em;
    }
}

/*======= 2512 ======= MEDIA QUERIES ==== border 151-45 = 2396 ==*/
@media only screen and (min-width: 2512px) {}

/*END-FOOTER responsive*/
