<!-- DCE1 1 column text-->
<div class="d1 wrapper clearfix">
    <div class="center">
        <article>
          <h2><f:format.raw>{field.col1H2}</f:format.raw></h2>
          <f:format.raw>{field.col1Txt}</f:format.raw>
        </article>
    </div>
    </div><!--END DCE1-->
