<div class="datenschutz wrapper clearfix">
    <div class="center">
        <article class="datenschutz-article">
            <h1>Datenschutz&shy;erklärung</h1>

            <div class="datenschutzLeftCol">
                <h2>Name und Kontakt des Verantwortlichen gemäß Artikel 4 Abs. 7 DSGVO</h2>
                <p>Firma:<br>
                    Anschrift:<br>
                    Telefon: <a href="tel:+49000000000">+49 000 000 0000</a><br>
                    Telefax:<br>
                    E-Mail:</p>

                <h3>Datenschutzbeauftragter:</h3>
                <p>Name:<br>
                    Anschrift:<br>
                    E-Mail:</p>

                <h2>Sicherheit und Schutz Ihrer personenbezogenen Daten</h2>
                <p>Wir betrachten es als unsere vorrangige Aufgabe, die Vertraulichkeit der von Ihnen bereitgestellten
                    personenbezogenen Daten zu wahren und diese vor unbefugten Zugriffen zu schützen. Deshalb wenden wir
                    äußerste Sorgfalt und modernste Sicherheitsstandards an, um einen maximalen Schutz Ihrer
                    personenbezogenen Daten zu gewährleisten.
                </p>
                <p>Als privatrechtliches Unternehmen unterliegen wir den Bestimmungen der europäischen
                    Datenschutzgrundverordnung (DSGVO) und den Regelungen des Bundesdatenschutzgesetzes (BDSG). Wir
                    haben technische und organisatorische Maßnahmen getroffen, die sicherstellen, dass die Vorschriften
                    über den Datenschutz sowohl von uns, als auch von unseren externen Dienstleistern beachtet werden.
                </p>

                <h3>Begriffsbestimmungen</h3>
                <p>Der Gesetzgeber fordert, dass personenbezogene Daten auf rechtmäßige Weise, nach Treu und Glauben und
                    in einer für die betroffene Person nachvollziehbaren Weise verarbeitet werden („Rechtmäßigkeit,
                    Verarbeitung nach Treu und Glauben, Transparenz“). Um dies zu gewährleisten, informieren wir Sie
                    über die einzelnen gesetzlichen Begriffsbestimmungen, die auch in dieser Datenschutzerklärung
                    verwendet werden:</p>

                <ol class="abstand1">
                    <li>
                        <h4>Personenbezogene Daten</h4>
                        Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder
                        identifizierbare natürliche Person (im Folgenden &bdquo;betroffene Person&ldquo;) beziehen; als
                        identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere
                        mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu
                        einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann,
                        die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen,
                        kulturellen oder sozialen Identität dieser natürlichen Person sind.
                    </li>

                    <li>
                        <h4>Verarbeitung</h4>
                        „Verarbeitung“ ist jeder, mit oder ohne Hilfe automatisierter Verfahren, ausgeführter Vorgang
                        oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das
                        Erfassen, die Organisation, das Ordnen, die Speicherung, die Anpassung oder Veränderung, das
                        Auslesen, das Abfragen, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder
                        eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, das
                        Löschen oder die Vernichtung.
                    </li>

                    <li>
                        <h4>Einschränkung der Verarbeitung</h4>
                        &bdquo;Einschränkung der Verarbeitung&ldquo; ist die Markierung gespeicherter personenbezogener
                        Daten mit dem Ziel, ihre künftige Verarbeitung einzuschränken.
                    </li>

                    <li>
                        <h4>Profiling</h4>
                        „Profiling“ ist jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin
                        besteht, dass diese personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte,
                        die sich auf eine natürliche Person beziehen, zu bewerten, insbesondere um Aspekte bezüglich
                        Arbeitsleistung, wirtschaftliche Lage, Gesundheit, persönliche Vorlieben, Interessen,
                        Zuverlässigkeit, Verhalten, Aufenthaltsort oder Ortswechsel dieser natürlichen Person zu
                        analysieren oder vorherzusagen.
                    </li>

                    <li>
                        <h4>Pseudonymisierung</h4>
                        „Pseudonymisierung“ ist die Verarbeitung personenbezogener Daten in einer Weise, dass die
                        personenbezogenen Daten ohne Hinzuziehung zusätzlicher Informationen nicht mehr einer
                        spezifischen betroffenen Person zugeordnet werden können, sofern diese zusätzlichen
                        Informationen gesondert aufbewahrt werden und technischen und organisatorischen Maßnahmen
                        unterliegen, die gewährleisten, dass die personenbezogenen Daten nicht einer identifizierten
                        oder identifizierbaren natürlichen Person zugewiesen werden können.
                    </li>

                    <li>
                        <h4>Dateisystem</h4>
                        „Dateisystem“ ist jede strukturierte Sammlung personenbezogener Daten, die nach bestimmten
                        Kriterien zugänglich sind, unabhängig davon, ob diese Sammlung zentral, dezentral oder nach
                        funktionalen oder geografischen Gesichtspunkten geordnet geführt wird.
                    </li>

                    <li>
                        <h4>Verantwortlicher</h4>
                        „Verantwortlicher“ ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere
                        Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von
                        personenbezogenen Daten entscheidet; sind die Zwecke und Mittel dieser Verarbeitung durch das
                        Unionsrecht oder das Recht der Mitgliedstaaten vorgegeben, so können der Verantwortliche
                        beziehungsweise die bestimmten Kriterien seiner Benennung nach dem Unionsrecht oder dem Recht
                        der Mitgliedstaaten vorgesehen werden.
                    </li>

                    <li>
                        <h4>Auftragsverarbeiter</h4>
                        „Auftragsverarbeiter“ ist eine natürliche oder juristische Person, Behörde, Einrichtung oder
                        andere Stelle, die personenbezogene Daten im Auftrag des Verantwortlichen verarbeitet.
                    </li>

                    <li>
                        <h4>Empfänger</h4>
                        „Empfänger“ ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere
                        Stelle, denen personenbezogene Daten offengelegt werden, unabhängig davon, ob es sich bei ihr um
                        einen Dritten handelt oder nicht. Behörden, die im Rahmen eines bestimmten Untersuchungsauftrags
                        nach dem Unionsrecht oder dem Recht der Mitgliedstaaten möglicherweise personenbezogene Daten
                        erhalten, gelten jedoch nicht als Empfänger; die Verarbeitung dieser Daten durch die genannten
                        Behörden erfolgt im Einklang mit den geltenden Datenschutzvorschriften gemäß den Zwecken der
                        Verarbeitung
                    </li>

                    <li>
                        <h4>Dritter</h4>
                        „Dritter“ ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle,
                        außer der betroffenen Person, dem Verantwortlichen, dem Auftragsverarbeiter und den Personen,
                        die unter der unmittelbaren Verantwortung des Verantwortlichen oder des Auftragsverarbeiters
                        befugt sind, die personenbezogenen Daten zu verarbeiten.
                    </li>

                    <li>
                        <h4>Einwilligung</h4>
                        Eine „Einwilligung“ der betroffenen Person ist jede freiwillig für den bestimmten Fall, in
                        informierter Weise und unmissverständlich abgegebene Willensbekundung in Form einer Erklärung
                        oder einer sonstigen eindeutigen bestätigenden Handlung, mit der die betroffene Person zu
                        verstehen gibt, dass sie mit der Verarbeitung der sie betreffenden personenbezogenen Daten
                        einverstanden ist.
                    </li>
                </ol>


                <h2>Rechtmäßigkeit der Verarbeitung</h2>
                <p>Die Verarbeitung personenbezogener Daten ist nur rechtmäßig, wenn für die Verarbeitung eine
                    Rechtsgrundlage besteht. Rechtsgrundlage für die Verarbeitung können gemäß Artikel 6 Abs. 1 lit. a –
                    f DSGVO insbesondere sein:</p>

                <ol class="list_abc">
                    <li>Die betroffene Person hat ihre Einwilligung zu der Verarbeitung der sie betreffenden
                        personenbezogenen Daten für einen oder mehrere bestimmte Zwecke gegeben;</li>
                    <li>die Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene
                        Person ist, oder zur Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der
                        betroffenen Person erfolgen;</li>
                    <li>die Verarbeitung ist zur Erfüllung einer rechtlichen Verpflichtung erforderlich, der der
                        Verantwortliche unterliegt;</li>
                    <li>die Verarbeitung ist erforderlich, um lebenswichtige Interessen der betroffenen Person oder
                        einer anderen natürlichen Person zu schützen;</li>
                    <li>die Verarbeitung ist für die Wahrnehmung einer Aufgabe erforderlich, die im öffentlichen
                        Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen
                        übertragen wurde;</li>
                    <li>die Verarbeitung ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines
                        Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und Grundfreiheiten der
                        betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen, insbesondere
                        dann, wenn es sich bei der betroffenen Person um ein Kind handelt.</li>
                </ol>
                <h2>Information über die Erhebung personenbezogener Daten</h2>
                <p>(1) Im Folgenden informieren wir über die Erhebung personenbezogener Daten bei Nutzung unserer
                    Website. Personenbezogene Daten sind z. B. Name, Adresse, E-Mail-Adressen, Nutzerverhalten.</p>
                <p>(2) Bei einer Kontaktaufnahme mit uns per E-Mail <span class="aendern">oder über ein
                        Kontaktformular</span> werden die von Ihnen mitgeteilten Daten (Ihre E-Mail-Adresse, ggf. Ihr
                    Name und Ihre Telefonnummer) von uns gespeichert, um Ihre Fragen zu beantworten. Die in diesem
                    Zusammenhang anfallenden Daten löschen wir, nachdem die Speicherung nicht mehr erforderlich ist,
                    oder die Verarbeitung wird eingeschränkt, falls gesetzliche Aufbewahrungspflichten bestehen.</p>

                <h3>Erhebung personenbezogener Daten bei Besuch unserer Website</h3>
                <p>Bei der bloß informatorischen Nutzung der Website, also wenn Sie sich nicht registrieren oder uns
                    anderweitig Informationen übermitteln, erheben wir nur die personenbezogenen Daten, die Ihr Browser
                    an unseren Server übermittelt. Wenn Sie unsere Website betrachten möchten, erheben wir die folgenden
                    Daten, die für uns technisch erforderlich sind, um Ihnen unsere Website anzuzeigen und die
                    Stabilität und Sicherheit zu gewährleisten (Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f DSGVO):
                </p>
                <ul>
                    <li>IP-Adresse</li>
                    <li>Datum und Uhrzeit der Anfrage</li>
                    <li>Zeitzonendifferenz zur Greenwich Mean Time (GMT)</li>
                    <li>Inhalt der Anforderung (konkrete Seite)</li>
                    <li>Zugriffsstatus/HTTP-Statuscode</li>
                    <li>jeweils übertragene Datenmenge</li>
                    <li>Website, von der die Anforderung kommt</li>
                    <li>Browser</li>
                    <li>Betriebssystem und dessen Oberfläche</li>
                    <li>Sprache und Version der Browsersoftware.</li>
                </ul>
                <h2>Einsatz von Cookies</h2>
                <p>(1) Zusätzlich zu den zuvor genannten Daten werden bei der Nutzung unserer Website Cookies auf Ihrem
                    Rechner gespeichert. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrer Festplatte dem
                    von Ihnen verwendeten Browser zugeordnet gespeichert werden und durch welche der Stelle, die den
                    Cookie setzt, bestimmte Informationen zufließen. Cookies können keine Programme ausführen oder Viren
                    auf Ihren Computer übertragen. Sie dienen dazu, das Internetangebot insgesamt nutzerfreundlicher und
                    effektiver zu machen.</p>

                <p>(2) Diese Website nutzt folgende Arten von Cookies, deren Umfang und Funktionsweise im Folgenden
                    erläutert werden:</p>
                <ul>
                    <li>Transiente Cookies (dazu a.)</li>
                    <li>Persistente Cookies (dazu b.).</li>
                </ul>

                <ol class="list_abc_abstand">
                    <li>Transiente Cookies werden automatisiert gelöscht, wenn Sie den Browser schließen. Dazu zählen
                        insbesondere die Session-Cookies. Diese speichern eine sogenannte Session-ID, mit welcher sich
                        verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen lassen. Dadurch kann Ihr
                        Rechner wiedererkannt werden, wenn Sie auf unsere Website zurückkehren. Die Session-Cookies
                        werden gelöscht, wenn Sie sich ausloggen oder den Browser schließen.</li>

                    <li>Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gelöscht, die sich je
                        nach Cookie unterscheiden kann. Sie können die Cookies in den Sicherheitseinstellungen Ihres
                        Browsers jederzeit löschen.</li>

                    <li>Sie können Ihre Browser-Einstellung entsprechend Ihren Wünschen konfigurieren und z. B. die
                        Annahme von Third-Party-Cookies oder allen Cookies ablehnen. Sog. „Third Party Cookies“ sind
                        Cookies, die durch einen Dritten gesetzt wurden, folglich nicht durch die eigentliche Website
                        auf der man sich gerade befindet. Wir weisen Sie darauf hin, dass Sie durch die Deaktivierung
                        von Cookies eventuell nicht alle Funktionen dieser Website nutzen können.</li>

                    <li><span class="aendern">Wir setzen Cookies ein, um Sie für Folgebesuche identifizieren zu können,
                            falls Sie über einen Account bei uns verfügen. Andernfalls müssten Sie sich für jeden Besuch
                            erneut einloggen.</span></li>

                    <li><span class="aendern">Die genutzten Flash-Cookies werden nicht durch Ihren Browser erfasst,
                            sondern durch Ihr Flash-Plug-in. Weiterhin nutzen wir HTML5 storage objects, die auf Ihrem
                            Endgerät abgelegt werden. Diese Objekte speichern die erforderlichen Daten unabhängig von
                            Ihrem verwendeten Browser und haben kein automatisches Ablaufdatum. Wenn Sie keine
                            Verarbeitung der Flash-Cookies wünschen, müssen Sie ein entsprechendes Add-On installieren,
                            z. B. „Better Privacy“ für Mozilla Firefox
                            (https://addons.mozilla.org/de/firefox/addon/betterprivacy/) oder das
                            Adobe-Flash-Killer-Cookie für Google Chrome. Die Nutzung von HTML5 storage objects können
                            Sie verhindern, indem Sie in Ihrem Browser den privaten Modus einsetzen. Zudem empfehlen
                            wir, regelmäßig Ihre Cookies und den Browser-Verlauf manuell zu löschen.</span></li>
                </ol>

                <h2>Weitere Funktionen und Angebote unserer Website</h2>
                <p>(1) Neben der rein informatorischen Nutzung unserer Website bieten wir verschiedene Leistungen an,
                    die Sie bei Interesse nutzen können. Dazu müssen Sie in der Regel weitere personenbezogene Daten
                    angeben, die wir zur Erbringung der jeweiligen Leistung nutzen und für die die zuvor genannten
                    Grundsätze zur Datenverarbeitung gelten.</p>

                <p>(2) Teilweise bedienen wir uns zur Verarbeitung Ihrer Daten externer Dienstleister. Diese wurden von
                    uns sorgfältig ausgewählt und beauftragt, sind an unsere Weisungen gebunden und werden regelmäßig
                    kontrolliert.</p>

                <p>(3) Weiterhin können wir Ihre personenbezogenen Daten an Dritte weitergeben, wenn Aktionsteilnahmen,
                    Gewinnspiele, Vertragsabschlüsse oder ähnliche Leistungen von uns gemeinsam mit Partnern angeboten
                    werden. Nähere Informationen hierzu erhalten Sie bei Angabe Ihrer personenbezogenen Daten oder
                    untenstehend in der Beschreibung des Angebotes.</p>

                <p>(4) Soweit unsere Dienstleister oder Partner ihren Sitz in einem Staat außerhalb des Europäischen
                    Wirtschaftsraumen (EWR) haben, informieren wir Sie über die Folgen dieses Umstands in der
                    Beschreibung des Angebotes.</p>



            </div>
            <div class="datenschutzRightCol">

                <div class="partTwo text_rot">

                    <h2>Nutzung unseres Webshops</h2>
                    <p>(1) Wenn Sie in unserem Webshop bestellen möchten, ist es für den Vertragsabschluss erforderlich,
                        dass Sie Ihre persönlichen Daten angeben, die wir für die Abwicklung Ihrer Bestellung benötigen.
                        Für
                        die Abwicklung der Verträge notwendige Pflichtangaben sind gesondert markiert, weitere Angaben
                        sind
                        freiwillig. Die von Ihnen angegebenen Daten verarbeiten wir zur Abwicklung Ihrer Bestellung.
                        Dazu
                        können wir Ihre Zahlungsdaten an unsere Hausbank weitergeben. Rechtsgrundlage hierfür ist Art. 6
                        Abs. 1 S. 1 lit. b DSGVO. Sie können freiwillig ein Kundenkonto anlegen, durch das wir Ihre
                        Daten
                        für spätere weitere Einkäufe speichern können. Bei Anlegung eines Accounts unter „Mein Konto“
                        werden
                        die von Ihnen angegebenen Daten widerruflich gespeichert. Alle weiteren Daten, inklusive Ihres
                        Nutzerkontos, können Sie im Kundenbereich stets löschen.</p>

                    <p>(2) Wir sind aufgrund handels- und steuerrechtlicher Vorgaben verpflichtet, Ihre Adress-,
                        Zahlungs-
                        und Bestelldaten für die Dauer von zehn Jahren zu speichern. Allerdings nehmen wir nach zwei
                        Jahren
                        eine Einschränkung der Verarbeitung vor, d. h. Ihre Daten werden nur zur Einhaltung der
                        gesetzlichen
                        Verpflichtungen eingesetzt.</p>

                    <p>(3) Zur Verhinderung unberechtigter Zugriffe Dritter auf Ihre persönlichen Daten, insbesondere
                        Finanzdaten, wird der Bestellvorgang per TLS-Technik verschlüsselt.</p>

                    <h3>Datenschutzbestimmungen bei der Verwendung von externen Zahlungsdienstleistern</h3>

                    <p>(1) Wir bieten für die Nutzung des Webshops mehrere Zahlungsmethoden an und bedienen uns dabei
                        unterschiedlicher Zahlungsdienstleiter. Je nachdem für welche Zahlungsart Sie sich entscheiden,
                        werden unterschiedliche Daten an den jeweiligen Zahlungsdienstleister übermittelt. Die
                        Rechtsgrundlage für die Übermittlung ist Art. 6 Abs. 1 S. 1 lit. a DSGVO. Nachfolgend listen wir
                        Ihnen unsere Zahlungsdienstleister auf.</p>

                    <ol class="list_abc">

                        <li>

                            <h4>PayPal</h4>
                            <p>Entscheiden Sie sich für die Zahlungsart PayPal, so werden Ihre personenbezogenen Daten
                                an
                                PayPal übermittelt. Voraussetzung für die Nutzung von PayPal ist die Eröffnung eines
                                PayPal-Kontos. Mit der Nutzung bzw. Eröffnung eines PayPal Kontos müssen unter anderem
                                Name,
                                Adresse, Telefonnummer und E-Mail-Adresse an PayPal übermittelt werden. Rechtsgrundlage
                                für
                                die Übermittlung der Daten ist Artikel 6 Abs. 1 lit. a DSGVO (Einwilligung) und Artikel
                                6
                                Abs. 1 lit. b DSGVO (Verarbeitung zur Erfüllung eines Vertrages).</p>

                            <p>Betreiber des Zahlungsdienstes PayPal ist die:</p>

                            <p>PayPal (Europe) S.à r.l. et Cie, S.C.A.<br>
                                22-24 Boulevard Royal<br>
                                L-2449 Luxembourg<br>
                                E-Mail: <a href="mailto:impressum@paypal.com">impressum@paypal.com</a></p>

                            <p>Mit der Zahlungsoption PayPal willigen Sie in die Übermittlung der personenbezogenen
                                Daten
                                wie Name, Adresse, Telefonnummer und E-Mail-Adresse, an PayPal ein. Welche weiteren
                                Daten
                                von PayPal erhoben werden, ergibt sich aus der jeweiligen Datenschutzerklärung von
                                PayPal.
                                Diese findet sich unter:<br>
                                <a href="https://www.paypal.com/de/webapps/mpp/ua/privacy-full"
                                    rel="nofollow">https://www.paypal.com/de/webapps/mpp/ua/privacy-full</a>
                            </p>

                        </li>

                        <li>

                            <h4>Klarna</h4>
                            <p>Entscheiden Sie sich für die Zahlungsart Klarna, so werden Ihre personenbezogene Daten an
                                den
                                Betreiber der Klarna übermittelt. Rechtsgrundlage für die Übermittlung der Daten ist
                                Artikel
                                6 Abs. 1 lit. a DSGVO (Einwilligung) und Artikel 6 Abs. 1 lit. b DSGVO (Verarbeitung zur
                                Erfüllung eines Vertrages).</p>


                            <p>Betreiber des Zahlungsdienstes Klarna ist die:</p>
                            <p>Klarna Bank AB (publ)<br>
                                Sveavägen 46<br>
                                111 34 Stockholm<br>
                                Schweden<br>
                                Telefon: 0046 8-120 120 00<br>
                                Fax: 0046 8-120 120 99<br>
                                Kontakt: <a href="mailto:info@klarna.de"> info@klarna.de</a></p>

                            <p>Klarna erhebt dabei folgende Daten:</p>


                            <ul class="strich">
                                <li>Name, Geburtsdatum, Titel, Rechnungs- und Lieferadresse, E-Mail-Adresse,
                                    Mobiltelefonnummer</li>
                                <li>Angaben über bestellte Produkte</li>
                                <li>Angaben über Einkommen, Kreditverpflichtungen und Zahlungsanmerkungen</li>
                                <li>Standortbezogene Informationen</li>
                                <li>IP-Adresse</li>
                            </ul>

                            <p>Ausführliche Informationen zu den Datenschutzbestimmungen der Klarna Bank AB (publ)
                                finden
                                Sie unter:<br>
                                <a href="https://www.klarna.com/de/datenschutz/"
                                    rel="nofollow">https://www.klarna.com/de/datenschutz/</a>
                            </p>


                        </li>
                    </ol>

                    <h2>Newsletter</h2>
                    <p>(1) Mit Ihrer Einwilligung können Sie unseren Newsletter abonnieren, mit dem wir Sie über unsere
                        aktuellen interessanten Angebote informieren. Die beworbenen Waren und Dienstleistungen sind in
                        der
                        Einwilligungserklärung benannt.</p>

                    <p>(2) Für die Anmeldung zu unserem Newsletter verwenden wir das sog. Double-Opt-in-Verfahren. Das
                        heißt, dass wir Ihnen nach Ihrer Anmeldung eine E-Mail an die angegebene E-Mail-Adresse senden,
                        in
                        welcher wir Sie um Bestätigung bitten, dass Sie den Versand des Newsletters wünschen. Wenn Sie
                        Ihre
                        Anmeldung nicht innerhalb von 24 Stunden bestätigen, werden Ihre Informationen gesperrt und nach
                        einem Monat automatisch gelöscht. Darüber hinaus speichern wir jeweils Ihre eingesetzten
                        IP-Adressen
                        und Zeitpunkte der Anmeldung und Bestätigung. Zweck des Verfahrens ist, Ihre Anmeldung
                        nachweisen
                        und ggf. einen möglichen Missbrauch Ihrer persönlichen Daten aufklären zu können.</p>

                    <p>(3) Pflichtangabe für die Übersendung des Newsletters ist allein Ihre E-Mail-Adresse. Die Angabe
                        weiterer, gesondert markierter Daten ist freiwillig und wird verwendet, um Sie persönlich
                        ansprechen
                        zu können. Nach Ihrer Bestätigung speichern wir Ihre E-Mail-Adresse zum Zweck der Zusendung des
                        Newsletters. Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. a DSGVO.</p>

                    <p>(4) Ihre Einwilligung in die Übersendung des Newsletters können Sie jederzeit widerrufen und den
                        Newsletter abbestellen. Den Widerruf können Sie durch Klick auf den in jeder Newsletter-E-Mail
                        bereitgestellten Link, <span style="color: black;">über dieses Formular der Website,</span> per
                        E-Mail an <span style="color: black;">info@firma.de</span> oder durch eine Nachricht an die im
                        Impressum angegebenen Kontaktdaten erklären.</p>

                    <p>(5) Wir weisen Sie darauf hin, dass wir bei Versand des Newsletters Ihr Nutzerverhalten
                        auswerten.
                        Für diese Auswertung beinhalten die versendeten E-Mails sogenannte Web-Beacons bzw.
                        Tracking-Pixel,
                        die Ein-Pixel-Bilddateien darstellen, die auf unserer Website gespeichert sind. Für die
                        Auswertungen
                        verknüpfen wir die oben genannten Daten und die Web-Beacons mit Ihrer E-Mail-Adresse und einer
                        individuellen ID. Die Daten werden ausschließlich pseudonymisiert erhoben, die IDs werden also
                        nicht
                        mit Ihren weiteren persönlichen Daten verknüpft, eine direkte Personenbeziehbarkeit wird
                        ausgeschlossen. Sie können diesem Tracking jederzeit widersprechen, indem Sie den gesonderten
                        Link,
                        der in jeder E-Mail bereitgestellt wird, anklicken oder uns über einen anderen Kontaktweg
                        informieren. Die Informationen werden solange gespeichert, wie Sie den Newsletter abonniert
                        haben.
                        Nach einer Abmeldung speichern wir die Daten rein statistisch und anonym.</p>

                    <p>(6) Für den Versand von Newslettern verwenden wir einen externen Dienstleister. Mit dem
                        Dienstleister
                        wurde eine separate Auftragsdatenverarbeitung geschlossen, um den Schutz Ihrer personenbezogenen
                        Daten zu gewährleisten. Derzeit arbeiten wir mit folgendem Dienstleister zusammen:</p>

                    <ol class="list_abc">
                        <li>
                            <h4>CleverReach</h4>
                            <p>CleverReach GmbH & Co. KG<br>
                                Mühlenstr. 4<br>
                                26180 Rastede<br>
                                Tel.: +49 (0) 4402 97390-00<br>
                                Kontakt: <a href="info@cleverreach.com">info@cleverreach.come</a></p>

                            <p>Dabei werden folgende Daten an die CleverReach übermittelt:</p>

                            <ul class="strich">
                                <li>Name</li>
                                <li>E-Mail-Adresse</li>
                                <li>IP-Adresse</li>
                                <li>.....</li>
                            </ul>

                            <p>Weitere Informationen können Sie der Datenschutzerklärung der CleverReach entnehmen
                                welche
                                unter:<br>
                                <a href="https://www.cleverreach.com/de/datenschutz/"
                                    rel="nofollow">https://www.cleverreach.com/de/datenschutz/</a> abrufbar ist.
                            </p>

                        </li>
                        <li>
                            <h4>MailChimp</h4>
                            <p>The Rocket Science Group LLC d/b/a MailChimp<br>
                                675 Ponce De Leon Ave NE, Suite 5000<br>
                                Atlanta, Georgia 30308<br>
                                Tel.: +1 404 806-5843<br>
                                E-Mail: <a href="legal@mailchimp.com"> legal@mailchimp.com</a></p>

                            <p>Dabei werden folgende Daten an MailChimp übermittelt:</p>

                            <ul class="strich">
                                <li>Name</li>
                                <li>E-Mail-Adresse</li>
                                <li>IP-Adresse</li>
                                <li>.....</li>
                            </ul>

                            <p>Weitere Informationen können Sie der Datenschutzerklärung von MailChimp entnehmen welche
                                unter:<br>
                                <a href="https://mailchimp.com/legal/privacy/" rel="nofollow">
                                    https://mailchimp.com/legal/privacy/</a> abrufbar ist.
                            </p>

                            <p>MailChimp bzw. das Mutterunternehmen The Rocket Science Group LLC ist im Rahmen des
                                US-EU-Privacy-Shield-Abkommens zertifiziert und stellt hierdurch sicher, das europäische
                                Datenschutzniveau einzuhalten. Der aktuelle Status der Zertifizierung kann unter dem
                                folgenden Link überprüft werden:</p>

                            <p><a href="https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG" rel="nofollow">
                                    https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG
                                </a> abrufbar ist.</p>

                    </ol>
                </div>

                <div class="partThree">
                    <h2>Kinder</h2>
                    <p>Unser Angebot richtet sich grundsätzlich an Erwachsene. Personen unter 18 Jahren sollten ohne
                        Zustimmung der Eltern oder Erziehungsberechtigten keine personenbezogenen Daten an uns
                        übermitteln.
                    </p>

                    <h2>Rechte der betroffenen Person</h2>

                    <h3>(1) Widerruf der Einwilligung</h3>
                    <p>Sofern die Verarbeitung der personenbezogenen Daten auf einer erteilten Einwilligung beruht,
                        haben
                        Sie jederzeit das Recht, die Einwilligung zu widerrufen. Durch den Widerruf der Einwilligung
                        wird
                        die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht
                        berührt.</p>

                    <p>Für die Ausübung des Widerrufsrechts können Sie sich jederzeit an uns wenden.</p>

                    <h3>(2) Recht auf Bestätigung</h3>
                    <p>Sie haben das Recht, von dem Verantwortlichen eine Bestätigung darüber zu verlangen, ob wir sie
                        betreffende personenbezogene Daten verarbeiten. Die Bestätigung können Sie jederzeit unter den
                        oben
                        genannten Kontaktdaten verlangen.</p>

                    <h3>(3) Auskunftsrecht</h3>
                    <p>Sofern personenbezogene Daten verarbeitet werden, können Sie jederzeit Auskunft über diese
                        personenbezogenen Daten und über folgenden Informationen verlangen:
                    </p>

                    <ol class="list_abc">
                        <li>die Verarbeitungszwecke;</li>
                        <li>den Kategorien personenbezogener Daten, die verarbeitet werden;</li>
                        <li>die Empfänger oder Kategorien von Empfängern, gegenüber denen die personenbezogenen Daten
                            offengelegt worden sind oder noch offengelegt werden, insbesondere bei Empfängern in
                            Drittländern oder bei internationalen Organisationen;</li>
                        <li>falls möglich, die geplante Dauer, für die die personenbezogenen Daten gespeichert werden,
                            oder,
                            falls dies nicht möglich ist, die Kriterien für die Festlegung dieser Dauer;</li>
                        <li>das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie betreffenden
                            personenbezogenen
                            Daten oder auf Einschränkung der Verarbeitung durch den Verantwortlichen oder eines
                            Widerspruchsrechts gegen diese Verarbeitung;</li>
                        <li>das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;</li>
                        <li>wenn die personenbezogenen Daten nicht bei der betroffenen Person erhoben werden, alle
                            verfügbaren Informationen über die Herkunft der Daten;</li>
                        <li>das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling gemäß
                            Artikel
                            22 Absätze 1 und 4 DSGVO und – zumindest in diesen Fällen – aussagekräftige Informationen
                            über
                            die involvierte Logik sowie die Tragweite und die angestrebten Auswirkungen einer derartigen
                            Verarbeitung für die betroffene Person.</li>
                    </ol>

                    <p>Werden personenbezogene Daten an ein Drittland oder an eine internationale Organisation
                        übermittelt,
                        so haben Sie das Recht, über die geeigneten Garantien gemäß Artikel 46 DSGVO im Zusammenhang mit
                        der
                        Übermittlung unterrichtet zu werden. Wir stellen eine Kopie der personenbezogenen Daten, die
                        Gegenstand der Verarbeitung sind, zur Verfügung. Für alle weiteren Kopien, die Sie Person
                        beantragen, können wir ein angemessenes Entgelt auf der Grundlage der Verwaltungskosten
                        verlangen.
                        Stellen Sie den Antrag elektronisch, so sind die Informationen in einem gängigen elektronischen
                        Format zur Verfügung zu stellen, sofern er nichts anderes angibt. Das Recht auf Erhalt einer
                        Kopie
                        gemäß Absatz 3 darf die Rechte und Freiheiten anderer Personen nicht beeinträchtigen.</p>

                    <h3>(4) Recht auf Berichtigung</h3>
                    <p>Sie haben das Recht, von uns unverzüglich die Berichtigung Sie betreffender unrichtiger
                        personenbezogener Daten zu verlangen. Unter Berücksichtigung der Zwecke der Verarbeitung haben
                        Sie
                        das Recht, die Vervollständigung unvollständiger personenbezogener Daten – auch mittels einer
                        ergänzenden Erklärung – zu verlangen.</p>

                    <h3>(5) Recht auf Löschung („Recht auf vergessen werden“)</h3>
                    <p>Sie haben das Recht, von dem Verantwortlichen zu verlangen, dass Sie betreffende personenbezogene
                        Daten unverzüglich gelöscht werden, und wir sind verpflichtet, personenbezogene Daten
                        unverzüglich
                        zu löschen, sofern einer der folgenden Gründe zutrifft:</p>

                    <ol class="list_abc">
                        <li>Die personenbezogenen Daten sind für die Zwecke, für die sie erhoben oder auf sonstige Weise
                            verarbeitet wurden, nicht mehr notwendig.</li>
                        <li>Die betroffene Person widerruft ihre Einwilligung, auf die sich die Verarbeitung gemäß
                            Artikel 6
                            Absatz 1 Buchstabe a oder Artikel 9 Absatz 2 Buchstabe a DSGVO stützte, und es fehlt an
                            einer
                            anderweitigen Rechtsgrundlage für die Verarbeitung.</li>
                        <li>Die betroffene Person legt gemäß Artikel 21 Absatz 1 DSGVO Widerspruch gegen die
                            Verarbeitung
                            ein und es liegen keine vorrangigen berechtigten Gründe für die Verarbeitung vor, oder die
                            betroffene Person legt gemäß Artikel 21 Absatz 2 DSGVO Widerspruch gegen die Verarbeitung
                            ein.
                        </li>
                        <li>Die personenbezogenen Daten wurden unrechtmäßig verarbeitet.</li>
                        <li>Die Löschung der personenbezogenen Daten ist zur Erfüllung einer rechtlichen Verpflichtung
                            nach
                            dem Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich, dem der Verantwortliche
                            unterliegt.</li>
                        <li>Die personenbezogenen Daten wurden in Bezug auf angebotene Dienste der
                            Informationsgesellschaft
                            gemäß Artikel 8 Absatz 1 DSGVO erhoben.</li>
                    </ol>

                    <p>Hat der Verantwortliche die personenbezogenen Daten öffentlich gemacht und ist er gemäß Absatz 1
                        zu
                        deren Löschung verpflichtet, so trifft er unter Berücksichtigung der verfügbaren Technologie und
                        der
                        Implementierungskosten angemessene Maßnahmen, auch technischer Art, um für die Datenverarbeitung
                        Verantwortliche, die die personenbezogenen Daten verarbeiten, darüber zu informieren, dass eine
                        betroffene Person von ihnen die Löschung aller Links zu diesen personenbezogenen Daten oder von
                        Kopien oder Replikationen dieser personenbezogenen Daten verlangt hat.</p>

                    <p>Das Recht auf Löschung („Recht auf vergessen werden“) besteht nicht, soweit die Verarbeitung
                        erforderlich ist:</p>

                    <ul class="strich">
                        <li>zur Ausübung des Rechts auf freie Meinungsäußerung und Information;</li>
                        <li>zur Erfüllung einer rechtlichen Verpflichtung, die die Verarbeitung nach dem Recht der Union
                            oder der Mitgliedstaaten, dem der Verantwortliche unterliegt, erfordert, oder zur
                            Wahrnehmung
                            einer Aufgabe, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt
                            erfolgt,
                            die dem Verantwortlichen übertragen wurde;</li>
                        <li>aus Gründen des öffentlichen Interesses im Bereich der öffentlichen Gesundheit gemäß Artikel
                            9
                            Absatz 2 Buchstaben h und i sowie Artikel 9 Absatz 3 DSGVO;</li>
                        <li>für im öffentlichen Interesse liegende Archivzwecke, wissenschaftliche oder historische
                            Forschungszwecke oder für statistische Zwecke gemäß Artikel 89 Absatz 1 DSGVO, soweit das in
                            Absatz 1 genannte Recht voraussichtlich die Verwirklichung der Ziele dieser Verarbeitung
                            unmöglich macht oder ernsthaft beeinträchtigt, oder</li>
                        <li>zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</li>
                    </ul>

                    <h3>(6) Recht auf Einschränkung der Verarbeitung</h3>
                    <p>Sie haben das Recht, von uns die Einschränkung der Verarbeitung ihrer personenbezogenen Daten zu
                        verlangen, wenn eine der folgenden Voraussetzungen gegeben ist:</p>

                    <ol class="list_abc">

                        <li>die Richtigkeit der personenbezogenen Daten von der betroffenen Person bestritten wird, und
                            zwar
                            für eine Dauer, die es dem Verantwortlichen ermöglicht, die Richtigkeit der
                            personenbezogenen
                            Daten zu überprüfen,</li>
                        <li>die Verarbeitung unrechtmäßig ist und die betroffene Person die Löschung der
                            personenbezogenen
                            Daten ablehnt und stattdessen die Einschränkung der Nutzung der personenbezogenen Daten
                            verlangt;</li>
                        <li>der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger
                            benötigt, die betroffene Person sie jedoch zur Geltendmachung, Ausübung oder Verteidigung
                            von
                            Rechtsansprüchen benötigt, oder</li>
                        <li>die betroffene Person Widerspruch gegen die Verarbeitung gemäß Artikel 21 Absatz 1 DSGVO
                            eingelegt hat, solange noch nicht feststeht, ob die berechtigten Gründe des Verantwortlichen
                            gegenüber denen der betroffenen Person überwiegen.</li>

                    </ol>

                    <p>Wurde die Verarbeitung gemäß den oben genannten Voraussetzungen eingeschränkt, so werden diese
                        personenbezogenen Daten – von ihrer Speicherung abgesehen – nur mit Einwilligung der betroffenen
                        Person oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz
                        der
                        Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen
                        öffentlichen Interesses der Union oder eines Mitgliedstaats verarbeitet.</p>

                    <p>Um das Recht auf Einschränkung der Verarbeitung geltend zu machen, kann sich die betroffene
                        Person
                        jederzeit an uns unter den oben angegebenen Kontaktdaten wenden.</p>

                    <h3>(7) Recht auf Datenübertragbarkeit</h3>
                    <p>Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt
                        haben,
                        in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten, und Sie haben das
                        Recht,
                        diese Daten einem anderen Verantwortlichen ohne Behinderung durch den Verantwortlichen, dem die
                        personenbezogenen Daten bereitgestellt wurden, zu übermitteln, sofern:</p>

                    <ol class="list_abc">
                        <li>die Verarbeitung auf einer Einwilligung gemäß Artikel 6 Absatz 1 Buchstabe a oder Artikel 9
                            Absatz 2 Buchstabe a oder auf einem Vertrag gemäß Artikel 6 Absatz 1 Buchstabe b DSGVO
                            beruht
                            und</li>
                        <li>die Verarbeitung mithilfe automatisierter Verfahren erfolgt.</li>

                    </ol>

                    <p>Bei der Ausübung des Rechts auf Datenübertragbarkeit gemäß Absatz 1 haben Sie das Recht, zu
                        erwirken,
                        dass die personenbezogenen Daten direkt von einem Verantwortlichen zu einem anderen
                        Verantwortlichen
                        übermittelt werden, soweit dies technisch machbar ist. Die Ausübung des Rechts auf
                        Datenübertragbarkeit lässt das Recht auf Löschung („Recht auf Vergessen werden“) unberührt.
                        Dieses
                        Recht gilt nicht für eine Verarbeitung, die für die Wahrnehmung einer Aufgabe erforderlich ist,
                        die
                        im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem
                        Verantwortlichen übertragen wurde.</p>

                    <h3>(8) Widerspruchsrecht</h3>
                    <p>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit
                        gegen
                        die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund von Artikel 6 Absatz 1
                        Buchstaben e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese
                        Bestimmungen gestütztes Profiling. Der Verantwortliche verarbeitet die personenbezogenen Daten
                        nicht
                        mehr, es sei denn, er kann zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die
                        die
                        Interessen, Rechte und Freiheiten der betroffenen Person überwiegen, oder die Verarbeitung dient
                        der
                        Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>

                    <p>Werden personenbezogene Daten verarbeitet, um Direktwerbung zu betreiben, so haben SIe das Recht,
                        jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke
                        derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher
                        Direktwerbung
                        in Verbindung steht. Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden
                        die
                        personenbezogenen Daten nicht mehr für diese Zwecke verarbeitet.</p>

                    <p>Im Zusammenhang mit der Nutzung von Diensten der Informationsgesellschaft könne Sie ungeachtet
                        der
                        Richtlinie 2002/58/EG Ihr Widerspruchsrecht mittels automatisierter Verfahren ausüben, bei denen
                        technische Spezifikationen verwendet werden.</p>

                    <p>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die Sie
                        betreffende Verarbeitung Sie betreffender personenbezogener Daten, die zu wissenschaftlichen
                        oder
                        historischen Forschungszwecken oder zu statistischen Zwecken gemäß Artikel 89 Absatz 1 erfolgt,
                        Widerspruch einzulegen, es sei denn, die Verarbeitung ist zur Erfüllung einer im öffentlichen
                        Interesse liegenden Aufgabe erforderlich.</p>

                    <p>Das Widerspruchsrecht können Sie jederzeit ausüben, indem Sie sich an den jeweiligen
                        Verantwortlichen
                        wenden.</p>


                    <h4>(9) Automatisierte Entscheidungen im Einzelfall einschließlich Profiling</h4>
                    <p>Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung –
                        einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber
                        rechtliche Wirkung entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt. Dies gilt
                        nicht,
                        wenn die Entscheidung:</p>

                    <ol class="list_abc">
                        <li>für den Abschluss oder die Erfüllung eines Vertrags zwischen der betroffenen Person und dem
                            Verantwortlichen erforderlich ist,</li>

                        <li>aufgrund von Rechtsvorschriften der Union oder der Mitgliedstaaten, denen der
                            Verantwortliche
                            unterliegt, zulässig ist und diese Rechtsvorschriften angemessene Maßnahmen zur Wahrung der
                            Rechte und Freiheiten sowie der berechtigten Interessen der betroffenen Person enthalten
                            oder
                        </li>

                        <li>mit ausdrücklicher Einwilligung der betroffenen Person erfolgt.</li>
                    </ol>

                    <p>Der Verantwortliche trifft angemessene Maßnahmen, um die Rechte und Freiheiten sowie die
                        berechtigten
                        Interessen der betroffenen Person zu wahren, wozu mindestens das Recht auf Erwirkung des
                        Eingreifens
                        einer Person seitens des Verantwortlichen, auf Darlegung des eigenen Standpunkts und auf
                        Anfechtung
                        der Entscheidung gehört.</p>

                    <p>Dieses Recht kann die betroffene Person jederzeit ausüben, indem sie sich an den jeweiligen
                        Verantwortlichen wendet.</p>

                    <h3>(10) Recht auf Beschwerde bei einer Aufsichtsbehörde</h3>
                    <p>Sie haben zudem, unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen
                        Rechtsbehelfs, das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem
                        Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen
                        Verstoßes,
                        wenn die betroffene Person der Ansicht ist, dass die Verarbeitung der sie betreffenden
                        personenbezogenen Daten gegen diese Verordnung verstößt.</p>


                    <h3>(11) Recht auf wirksamen gerichtlichen Rechtsbehelf</h3>
                    <p>Sie haben unbeschadet eines verfügbaren verwaltungsrechtlichen oder außergerichtlichen
                        Rechtsbehelfs
                        einschließlich des Rechts auf Beschwerde bei einer Aufsichtsbehörde gemäß Artikel 77 DSGVO das
                        Recht
                        auf einen wirksamen gerichtlichen Rechtsbehelf, wenn sie der Ansicht ist, dass Ihre, aufgrund
                        dieser
                        Verordnung zustehenden Rechte, infolge einer nicht im Einklang mit dieser Verordnung stehenden
                        Verarbeitung Ihrer personenbezogenen Daten verletzt wurden.</p>

                </div>

                <div class="partFour text_rot">
                    <h2>Google Analytics Opt-Out</h2>

                    <p>Sie können über den Knopf am oberen Fensterrand alle Cookies und damit auch die
                        Google-Analytics-Funktion jederzeit ausschalten.</p>

                    <h3>Google Analytics Opt-Out</h3>
                    <p>Sie können die Erfassung durch Google Analytics verhindern, indem Sie auf folgenden Link klicken.
                        Es
                        wird ein
                        Opt-Out-Cookie gesetzt, der die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website als
                        nicht erwünscht
                        kennzeichnet:</p>
                    <a class="doNotTrackLink"
                        onclick="alert('Google Analytics - Nicht-Tracken-Anweisung - wurde gesetzt.');"
                        href="javascript:gaOptout()">
                        --> Google Analytics anweisen mich auf dieser Seite nicht mehr zu verfolgen!</a>

                    <h2>Einsatz von Google Analytics</h2>
                    <p>(1) Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“).
                        Google
                        Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und
                        die
                        eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch das Cookie erzeugten
                        Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google
                        in
                        den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf
                        dieser
                        Website, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen
                        Union
                        oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor
                        gekürzt.
                        Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen
                        und
                        dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen,
                        um
                        Ihre Nutzung der Website auszuwerten, um Reports über die Website-Aktivitäten zusammenzustellen
                        und
                        um weitere mit der Website-Nutzung und der Internetnutzung verbundene Dienstleistungen gegenüber
                        dem
                        Website-Betreiber zu erbringen.</p>

                    <p>(2) Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit
                        anderen Daten von Google zusammengeführt</p>

                    <p>(3) Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer
                        Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
                        gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.
                        Sie
                        können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der
                        Website
                        bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch
                        Google
                        verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plug-in herunterladen und
                        installieren:<br>
                        <a href="http://tools.google.com/dlpage/gaoptout?hl=de"
                            rel="nofollow">http://tools.google.com/dlpage/gaoptout?hl=de</a>
                    </p>

                    <p>(4) Diese Website verwendet Google Analytics mit der Erweiterung „_anonymizeIp()“. Dadurch werden
                        IP-Adressen gekürzt weiterverarbeitet, eine Personenbeziehbarkeit kann damit ausgeschlossen
                        werden.
                        Soweit den über Sie erhobenen Daten ein Personenbezug zukommt, wird dieser also sofort
                        ausgeschlossen und die personenbezogenen Daten damit umgehend gelöscht.</p>

                    <p>(5) Wir nutzen Google Analytics, um die Nutzung unserer Website analysieren und regelmäßig
                        verbessern
                        zu können. Über die gewonnenen Statistiken können wir unser Angebot verbessern und für Sie als
                        Nutzer interessanter ausgestalten. Für die Ausnahmefälle, in denen personenbezogene Daten in die
                        USA
                        übertragen werden, hat sich Google dem EU-US Privacy Shield unterworfen,
                        <a href="https://www.privacyshield.gov/EU-US-Framework"
                            rel="nofollow">https://www.privacyshield.gov/EU-US-Framework</a>. Rechtsgrundlage für die
                        Nutzung von Google Analytics ist Art. 6 Abs. 1 S. 1 lit. f DSGVO.
                    </p>

                    <p>(6) Informationen des Drittanbieters: Google Dublin, Google Ireland Ltd., Gordon House, Barrow
                        Street, Dublin 4, Ireland, Fax: +353 (1) 436 1001. Nutzerbedingungen:</p>

                    <p><a href="http://www.google.com/analytics/terms/de.html"
                            rel="nofollow">http://www.google.com/analytics/terms/de.html</a>,<br>
                        Übersicht zum Datenschutz: <a href="http://www.google.com/intl/de/analytics/learn/privacy.html"
                            rel="nofollow">http://www.google.com/intl/de/analytics/learn/privacy.html</a>,<br>
                        sowie die Datenschutzerklärung:<a href="http://www.google.de/intl/de/policies/privacy"
                            rel="nofollow">http://www.google.de/intl/de/policies/privacy</a>.</p>

                    <p>(7) Diese Website verwendet Google Analytics zudem für eine geräteübergreifende Analyse von
                        Besucherströmen, die über eine User-ID durchgeführt wird. Sie können in Ihrem Kundenkonto unter
                        „Meine Daten“, „persönliche Daten“ die geräteübergreifende Analyse Ihrer Nutzung deaktivieren.
                    </p>

                    <h2>Einsatz von Matomo (ehemals Piwik)</h2>

                    <p>(1) Diese Website nutzt den Webanalysedienst Matomo, um die Nutzung unserer Website analysieren
                        und
                        regelmäßig verbessern zu können. Über die gewonnenen Statistiken können wir unser Angebot
                        verbessern
                        und für Sie als Nutzer interessanter ausgestalten. Rechtsgrundlage für die Nutzung von Matomo
                        ist
                        Art. 6 Abs. 1 S. 1 lit. f DSGVO.</p>

                    <p>(2) Für diese Auswertung werden Cookies auf Ihrem Computer gespeichert. Die so erhobenen
                        Informationen speichert der Verantwortliche ausschließlich auf seinem Server in [Deutschland].
                        Die
                        Auswertung können Sie einstellen durch Löschung vorhandener Cookies und die Verhinderung der
                        Speicherung von Cookies. Wenn Sie die Speicherung der Cookies verhindern, weisen wir darauf hin,
                        dass Sie gegebenenfalls diese Website nicht vollumfänglich nutzen können. Die Verhinderung der
                        Speicherung von Cookies ist durch die Einstellung in ihrem Browser möglich. Die Verhinderung des
                        Einsatzes von Matomo ist möglich, indem Sie den folgenden Haken entfernen und so das
                        Opt-out-Plug-in
                        aktivieren: [Matomo iFrame].</p>

                    <p>(3) Diese Website verwendet Matomo mit der Erweiterung „AnonymizeIP“. Dadurch werden IP-Adressen
                        gekürzt weiterverarbeitet, eine direkte Personenbeziehbarkeit kann damit ausgeschlossen werden.
                        Die
                        mittels Matomo von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen von uns
                        erhobenen
                        Daten zusammengeführt.</p>

                    <p>(4) Das Programm Matomo ist ein Open-Source-Projekt. Informationen des Drittanbieters zum
                        Datenschutz
                        erhalten Sie unter <a href="https://matomo.org/privacy-policy/"
                            rel="nofollow">https://matomo.org/privacy-policy/</a></p>
                    <h2>Einsatz von eTracker</h2>

                    <p>(1) Auf dieser Website werden mit Technologien der etracker GmbH ( <a
                            href="http://www.etracker.com" rel="nofollow">http://www.etracker.com</a>) Daten zu
                        Marketing- und Optimierungszwecken
                        gesammelt und gespeichert. Aus diesen Daten können unter einem Pseudonym Nutzungsprofile
                        erstellt
                        werden. Hierzu können Cookies eingesetzt werden. Die mit den eTracker-Technologien erhobenen
                        Daten
                        werden ohne die gesondert erteilte Zustimmung des Betroffenen nicht dazu benutzt, den Besucher
                        dieser Website persönlich zu identifizieren und nicht mit personenbezogenen Daten über den
                        Träger
                        des Pseudonyms zusammengeführt. Der Datenerhebung und -speicherung kann jederzeit mit Wirkung
                        für
                        die Zukunft widersprochen werden.</p>

                    <p>(2) Wir nutzen eTracker, um die Nutzung unserer Website analysieren und regelmäßig verbessern zu
                        können. Über die gewonnenen Statistiken können wir unser Angebot verbessern und für Sie als
                        Nutzer
                        interessanter ausgestalten. Die erhobenen Daten werden dauerhaft gespeichert und pseudonym
                        analysiert. Rechtsgrundlage für die Nutzung von eTracker ist Art. 6 Abs. 1 S. 1 lit. DSGVO.</p>

                    <p>(3) Informationen des Drittanbieters: etracker GmbH, Erste Brunnenstraße 1, 20459 Hamburg; <a
                            href="https://www.etracker.com/de/datenschutz.html"
                            rel="nofollow">https://www.etracker.com/de/datenschutz.html</a>. Rechtsgrundlage für die
                        Nutzung
                        von eTracker ist Art. 6 Abs. 1 S. 1 lit. f DSGVO.
                    </p>



                    <h2>Einsatz von Jetpack (ehemals Wordpress.com Stats)</h2>

                    <p>(1) Diese Website nutzt den Webanalysedienst Jetpack (früher: WordPress.com-Stats), um die
                        Nutzung
                        unserer Website analysieren und regelmäßig verbessern zu können. Über die gewonnenen Statistiken
                        können wir unser Angebot verbessern und für Sie als Nutzer interessanter ausgestalten. Weiterhin
                        nutzen wir das System für Maßnahmen zum Schutz der Sicherheit der Website, z. B. dem Erkennen
                        von
                        Angriffen oder Viren. Für die Ausnahmefälle, in denen personenbezogene Daten in die USA
                        übertragen
                        werden, hat sich Automattic Inc. dem EU-US Privacy Shield unterworfen, <a
                            href="https://www.privacyshield.gov" rel="nofollow">https://www.privacyshield.gov</a>.
                        Rechtsgrundlage für die Nutzung von Jetpack ist Art. 6 Abs. 1 S. 1 lit. f DSGVO.</p>

                    <p>(2) Für diese Auswertung werden Cookies (näheres dazu unter dem Punkt „Cookies“) auf Ihrem
                        Computer
                        gespeichert. Die so erhobenen Informationen werden auf einem Server in den USA gespeichert. Wenn
                        Sie
                        die Speicherung der Cookies verhindern, weisen wir darauf hin, dass Sie gegebenenfalls diese
                        Website
                        nicht vollumfänglich nutzen können. Die Verhinderung der Speicherung von Cookies ist möglich
                        durch
                        die Einstellung in ihrem Browser oder indem Sie den Button „Click here to Opt-out“ unter <a
                            href="http://www.quantcast.com/opt-out" rel="nofollow">http://www.quantcast.com/opt-out</a>
                        betätigen.</p>

                    <p>(3) Diese Website verwendet Jetpack mit einer Erweiterung, durch die IP-Adressen direkt nach
                        ihrer
                        Erhebung gekürzt weiterverarbeitet werden, um so eine Personenbeziehbarkeit auszuschließen.</p>

                    <p>(4) Informationen des Drittanbieters: Automattic Inc., 60 29 th Street #343, San Francisco, CA
                        94110–4929, USA, <a href="https://automattic.com/privacy"
                            rel="nofollow">https://automattic.com/privacy</a>, sowie des Drittanbieters der
                        Trackingtechnologie: Quantcast Inc., 201 3 rd St, Floor 2, San Francisco, CA 94103–3153, USA, <a
                            href="https://www.quantcast.com/privacy"
                            rel="nofollow">https://www.quantcast.com/privacy</a>.
                    </p>


                    <h2>Adobe Analytics (Omniture)</h2>
                    <p>(1) Diese Website nutzt den Webanalysedienst Adobe Analytics (Omniture), um die Nutzung unserer
                        Website analysieren und regelmäßig verbessern zu können. Über die gewonnenen Statistiken können
                        wir
                        unser Angebot verbessern und für Sie als Nutzer interessanter ausgestalten. Für die
                        Ausnahmefälle,
                        in denen personenbezogene Daten in die USA übertragen werden, hat sich Adobe dem EU-US Privacy
                        Shield unterworfen, <a href="https://www.privacyshield.gov/EU-US-Framework"
                            rel="nofollow">https://www.privacyshield.gov/EU-US-Framework</a>. Rechtsgrundlage für die
                        Nutzung von Adobe Analytics ist Art. 6 Abs. 1 S. 1 lit. f DSGVO.</p>

                    <p>(2) Für diese Auswertung werden Cookies (näheres dazu unter dem Punkt „Cookies“) auf Ihrem
                        Computer
                        gespeichert. Die so erhobenen Informationen werden auf Servern, auch in den USA, gespeichert.
                        Wenn
                        Sie die Speicherung der Cookies verhindern, weisen wir darauf hin, dass Sie dann gegebenenfalls
                        diese Website nicht vollumfänglich nutzen können. Die Verhinderung der Speicherung von Cookies
                        ist
                        möglich durch die Einstellung in ihrem Browser oder indem Sie die Buttons „Abmelden“ unter <a
                            href="http://www.adobe.com/de/privacy/opt-out.html"
                            rel="nofollow">http://www.adobe.com/de/privacy/opt-out.html</a> betätigen.</p>

                    <p>(3) Diese Website verwendet Adobe Analytics (Omniture) mit den Einstellungen „Before Geo-Lookup:
                        Replace visitor’s last IP octet with 0“ und „Obfuscate IP-Removed“, durch die Ihre IP-Adresse um
                        das
                        letzte Oktett gekürzt und durch eine generische IP-Adresse, also eine nicht mehr zuordenbare,
                        ersetzt wird. Eine Personenbeziehbarkeit ist damit auszuschließen.</p>

                    <p>(4) Informationen des Drittanbieters: Adobe Systems Software Ireland Limited, Ireland, 4–6
                        Riverwalk,
                        Citywest Business Campus, Dublin 24, Republic of Ireland; privacy@adobe.com;
                        Datenschutzhinweise: <a href="http://www.adobe.com/de/privacy/policy.html"
                            rel="nofollow">http://www.adobe.com/de/privacy/policy.html</a>.
                    </p>

                    <h2>Social-Media und die Erweiterung "Shariff"</h2>
                    <p>Für Social-Media-Verbindungen benutzen wir direkte Links zu den jeweiligen Seiten oder die
                        Erweiterung "Shariff".</p>
                    <h3>Shariff</h3>
                    <p>Die Kommunikationen mit den sozialen Netzwerken übernimmt ein auf dem Server abgelegtes Skript,
                        das
                        sich als Vermittler zwischen soziales Netzwerk und Nutzer schaltet. Nutzer stehen erst dann mit
                        den
                        sozialen Netzwerken direkt in Verbindung, wenn sie aktiv werden. Vorher können die sozialen
                        Netzwerke keine Daten über sie erfassen.</p>


                    <h2>Einsatz von Social-Media-Plugins</h2>
                    <p>(1) Wir setzen derzeit folgende Social-Media-Plug-ins ein: [Facebook, Google+, Twitter, Xing,
                        T3N,
                        LinkedIn, Flattr]. Wir nutzen dabei die sog. Zwei-Klick-Lösung. Das heißt, wenn Sie unsere Seite
                        besuchen, werden zunächst grundsätzlich keine personenbezogenen Daten an die Anbieter der
                        Plug-ins
                        weitergegeben. Den Anbieter des Plug-ins erkennen Sie über die Markierung auf dem Kasten über
                        seinen
                        Anfangsbuchstaben oder das Logo. Wir eröffnen Ihnen die Möglichkeit, über den Button direkt mit
                        dem
                        Anbieter des Plug-ins zu kommunizieren. Nur wenn Sie auf das markierte Feld klicken und es
                        dadurch
                        aktivieren, erhält der Plug-in-Anbieter die Information, dass Sie die entsprechende Website
                        unseres
                        Online-Angebots aufgerufen haben. Zudem werden die beim Besuch unserer Website erhobenen Daten
                        übermittelt. Im Fall von Facebook und Xing wird nach Angaben der jeweiligen Anbieter in
                        Deutschland
                        die IP-Adresse sofort nach Erhebung anonymisiert. Durch die Aktivierung des Plug-ins werden also
                        personenbezogene Daten von Ihnen an den jeweiligen Plug-in-Anbieter übermittelt und dort (bei
                        US-amerikanischen Anbietern in den USA) gespeichert. Da der Plug-in-Anbieter die Datenerhebung
                        insbesondere über Cookies vornimmt, empfehlen wir Ihnen, vor dem Klick auf den ausgegrauten
                        Kasten
                        über die Sicherheitseinstellungen Ihres Browsers alle Cookies zu löschen.</p>

                    <p>(2) Wir haben weder Einfluss auf die erhobenen Daten und Datenverarbeitungsvorgänge, noch sind
                        uns
                        der volle Umfang der Datenerhebung, die Zwecke der Verarbeitung, die Speicherfristen bekannt.
                        Auch
                        zur Löschung der erhobenen Daten durch den Plug-in-Anbieter liegen uns keine Informationen vor.
                    </p>

                    <p>(3) Der Plug-in-Anbieter speichert die über Sie erhobenen Daten als Nutzungsprofile und nutzt
                        diese
                        für Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner Website. Eine
                        solche Auswertung erfolgt insbesondere (auch für nicht eingeloggte Nutzer) zur Darstellung von
                        bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks über Ihre Aktivitäten auf
                        unserer Website zu informieren. Ihnen steht ein Widerspruchsrecht gegen die Bildung dieser
                        Nutzerprofile zu, wobei Sie sich zur Ausübung dessen an den jeweiligen Plug-in-Anbieter wenden
                        müssen. Über die Plug-ins bieten wir Ihnen die Möglichkeit, mit den sozialen Netzwerken und
                        anderen
                        Nutzern zu interagieren, so dass wir unser Angebot verbessern und für Sie als Nutzer
                        interessanter
                        ausgestalten können. Rechtsgrundlage für die Nutzung der Plug-ins ist Art. 6 Abs. 1 S. 1 lit. f
                        DSGVO.</p>

                    <p>(4) Die Datenweitergabe erfolgt unabhängig davon, ob Sie ein Konto bei dem Plug-in-Anbieter
                        besitzen
                        und dort eingeloggt sind. Wenn Sie bei dem Plug-in-Anbieter eingeloggt sind, werden Ihre bei uns
                        erhobenen Daten direkt Ihrem beim Plug-in-Anbieter bestehenden Konto zugeordnet. Wenn Sie den
                        aktivierten Button betätigen und z. B. die Seite verlinken, speichert der Plug-in-Anbieter auch
                        diese Information in Ihrem Nutzerkonto und teilt sie Ihren Kontakten öffentlich mit. Wir
                        empfehlen
                        Ihnen, sich nach Nutzung eines sozialen Netzwerks regelmäßig auszuloggen, insbesondere jedoch
                        vor
                        Aktivierung des Buttons, da Sie so eine Zuordnung zu Ihrem Profil bei dem Plug-in-Anbieter
                        vermeiden
                        können.</p>

                    <p>(5) Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch den
                        Plug-in-Anbieter erhalten Sie in den im Folgenden mitgeteilten Datenschutzerklärungen dieser
                        Anbieter. Dort erhalten Sie auch weitere Informationen zu Ihren diesbezüglichen Rechten und
                        Einstellungsmöglichkeiten zum Schutze Ihrer Privatsphäre.</p>

                    <p>(6) Adressen der jeweiligen Plug-in-Anbieter und URL mit deren Datenschutzhinweisen:</p>

                    <ol class="list_abc_abstand">

                        <li>
                            Facebook Inc., 1601 S California Ave, Palo Alto, California 94304, USA; <a
                                href="http://www.facebook.com/policy.php"
                                rel="nofollow">http://www.facebook.com/policy.php</a>; weitere Informationen zur
                            Datenerhebung:
                            <a href="http://www.facebook.com/help/186325668085084"
                                rel="nofollow">http://www.facebook.com/help/186325668085084</a>,
                            <a href="http://www.facebook.com/about/privacy/your-info-on-other#applications"
                                rel="nofollow">http://www.facebook.com/about/privacy/your-info-on-other#applications</a>
                            sowie
                            <a href="http://www.facebook.com/about/privacy/your-info#everyoneinfo"
                                rel="nofollow">http://www.facebook.com/about/privacy/your-info#everyoneinfo</a>.
                            Facebook hat sich dem EU-US-Privacy-Shield unterworfen, <a
                                href="https://www.privacyshield.gov/EU-US-Framework"
                                rel="nofollow">https://www.privacyshield.gov/EU-US-Framework</a>.
                        </li>

                        <li>
                            Google Inc., 1600 Amphitheater Parkway, Mountainview, California 94043, USA; <a
                                href="https://www.google.com/policies/privacy/partners/?hl=de"
                                rel="nofollow">https://www.google.com/policies/privacy/partners/?hl=de</a>. Google hat
                            sich
                            dem EU-US-Privacy-Shield unterworfen, <a
                                href="https://www.privacyshield.gov/EU-US-Framework"
                                rel="nofollow">https://www.privacyshield.gov/EU-US-Framework</a>.
                        </li>

                        <li>
                            Twitter, Inc., 1355 Market St, Suite 900, San Francisco, California 94103, USA; <a
                                href="https://twitter.com/privacy" rel="nofollow">https://twitter.com/privacy</a>.
                            Twitter
                            hat sich dem EU-US-Privacy-Shield unterworfen, <a
                                href="https://www.privacyshield.gov/EU-US-Framework"
                                rel="nofollow">https://www.privacyshield.gov/EU-US-Framework</a>.
                        </li>

                        <li>
                            Xing AG, Gänsemarkt 43, 20354 Hamburg, DE; <a href="http://www.xing.com/privacy"
                                rel="nofollow">http://www.xing.com/privacy</a>.
                        </li>

                        <li>
                            T3N, yeebase media GmbH, Kriegerstr. 40, 30161 Hannover, Deutschland; <a
                                href="https://t3n.de/store/page/datenschutz"
                                rel="nofollow">https://t3n.de/store/page/datenschutz</a>.
                        </li>

                        <li>
                            LinkedIn Corporation, 2029 Stierlin Court, Mountain View, California 94043, USA; <a
                                href="http://www.linkedin.com/legal/privacy-policy"
                                rel="nofollow">http://www.linkedin.com/legal/privacy-policy</a>. LinkedIn hat sich dem
                            EU-US-Privacy-Shield unterworfen, <a href="https://www.privacyshield.gov/EU-US-Framework"
                                rel="nofollow">https://www.privacyshield.gov/EU-US-Framework</a>.
                        </li>

                        <li>
                            Flattr Network Ltd. mit Sitz in 2 nd Floor, White bear yard 114A, Clerkenwell Road, London,
                            Middlesex, England, EC1R 5DF, Großbritannien; <a href="https://flattr.com/privacy"
                                rel="nofollow">https://flattr. com/privacy</a>.
                        </li>
                    </ol>

                    <h2>Einbindung von Google Maps</h2>

                    <p>(1) Auf dieser Website nutzen wir das Angebot von Google Maps. Dadurch können wir Ihnen
                        interaktive
                        Karten direkt in der Website anzeigen und ermöglichen Ihnen die komfortable Nutzung der
                        Karten-Funktion.</p>

                    <p>(2) Durch den Besuch auf der Website erhält Google die Information, dass Sie die entsprechende
                        Unterseite unserer Website aufgerufen haben. Zudem werden die beim Besuch unserer Website
                        erhobenen
                        Daten übermittelt. Dies erfolgt unabhängig davon, ob Google ein Nutzerkonto bereitstellt, über
                        das
                        Sie eingeloggt sind, oder ob kein Nutzerkonto besteht. Wenn Sie bei Google eingeloggt sind,
                        werden
                        Ihre Daten direkt Ihrem Konto zugeordnet. Wenn Sie die Zuordnung mit Ihrem Profil bei Google
                        nicht
                        wünschen, müssen Sie sich vor Aktivierung des Buttons ausloggen. Google speichert Ihre Daten als
                        Nutzungsprofile und nutzt sie für Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten
                        Gestaltung seiner Website. Eine solche Auswertung erfolgt insbesondere (selbst für nicht
                        eingeloggte
                        Nutzer) zur Erbringung von bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks
                        über
                        Ihre Aktivitäten auf unserer Website zu informieren. Ihnen steht ein Widerspruchsrecht zu gegen
                        die
                        Bildung dieser Nutzerprofile, wobei Sie sich zur Ausübung dessen an Google richten müssen.</p>

                    <p>(3) Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch den
                        Plug-in-Anbieter erhalten Sie in den Datenschutzerklärungen des Anbieters. Dort erhalten Sie
                        auch
                        weitere Informationen zu Ihren diesbezüglichen Rechten und Einstellungsmöglichkeiten zum Schutze
                        Ihrer Privatsphäre: <a href="http://www.google.de/intl/de/policies/privacy"
                            rel="nofollow">http://www.google.de/intl/de/policies/privacy</a>. Google verarbeitet Ihre
                        personenbezogenen Daten auch in den USA und hat sich dem EU-US Privacy Shield unterworfen, <a
                            href="https://www.privacyshield.gov/EU-US-Framework"
                            rel="nofollow">https://www.privacyshield.gov/EU-US-Framework</a>.</p>

                    <h2>Einbindung OpenStreetMap</h2>

                    <p>(1) Auf dieser Website nutzen wir das Angebot der OpenStreetMap. Dabei handelt es sich um ein
                        freies
                        Projekt der OpenStreetMap Foundation Dadurch können wir Ihnen Karten direkt in der Website
                        anzeigen
                        und ermöglichen Ihnen so die komfortable Nutzung der Karten-Funktion.</p>

                    <p>(2) Durch den Besuch auf der Website werden Daten gemäß dem Punkt „Erhebung personenbezogener
                        Daten
                        bei Besuch unserer Website“ an die OpenStreetMap Foundation übermittelt.</p>

                    <p>(3) Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch den
                        Anbieter erhalten Sie in der jeweiligen Datenschutzerklärung abrufbar unter <a
                            href="https://wiki.osmfoundation.org/wiki/Privacy_Policy"
                            rel="nofollow">https://wiki.osmfoundation.org/wiki/Privacy_Policy</a>.</p>

                    <h2>Auftragsverarbeiter</h2>


                    <p>Wir bedienen uns externen Dienstleister (Auftragsverarbeiter) z. B. für den Versand von Waren,
                        Newsletter oder Zahlungsabwicklungen. Mit dem Dienstleister wurde eine separate
                        Auftragsdatenverarbeitung geschlossen, um den Schutz Ihrer personenbezogenen Daten zu
                        gewährleisten.
                    </p>

                    <p>Wir arbeiten mit folgenden Dienstleistern zusammen:</p>

                    <p>(Auflistung aller Dienstleister)</p>


                    <p>Internet Hosting:<br>
                        Mittwald CM Service GmbH & Co. KG<br>
                        Königsberger Straße 4-6<br>
                        32339 Espelkamp<br>
                        Telefon: <a href="tel:+495772293100">+49 5772 293-100</a><br>
                        Telefax: <a href="tel:+495772293333">+49 5772 293-333</a><br>
                        E-Mail: <a href="mailto:support@mittwald.de">support@mittwald.de</a></p>

                    <p>Werbeagentur und Programmierung:<br>
                        zazudesign – die Schwarzwald Werbeagentur<br>
                        Ob der Au 22<br>
                        78737 Fluorn-Winzeln<br>
                        Telefon: <a href="tel:+49740291116">+49 7402 911-16</a><br>
                        Telefax: <a href="tel:+49740291115">+49 7402 911-15</a><br>
                        E-Mail: <a href="mailto:info@zazudesign.de">info@zazudesign.de</a></p>



                    <h2>Jameda Siegel und Widget</h2>
                    <p>Auf unserer Internetseite sind Siegel oder Widgets der jameda GmbH, St. Cajetan-Straße 41, 81669
                        München eingebunden. Ein Widget ist ein kleines Fenster, das veränderliche Informationen
                        anzeigt.
                        Auch unser Siegel funktioniert in ähnlicher Weise, d.h. es sieht nicht immer gleich aus, sondern
                        die
                        Anzeige ändert sich. Dabei wird der entsprechende Inhalt zwar auf unserer Internetseite
                        dargestellt,
                        er wird aber in diesem Moment von den jameda-Servern abgerufen. Nur so kann immer der aktuelle
                        Inhalt gezeigt werden, vor allem die jeweils aktuelle Bewertung. Dafür muss eine Datenverbindung
                        von
                        dieser Internetseite zu jameda aufgebaut werden und jameda erhält gewisse technische Daten
                        (Datum
                        und Uhrzeit des Besuchs; die Seite, von der die Abfrage erfolgt; verwendete Internet
                        Protokoll-Adresse (IP-Adresse), Browsertyp und -version, Gerätetyp, Betriebssystem und ähnliche
                        technische Informationen), die nötig sind, damit der Inhalt ausgeliefert werden kann. Diese
                        Daten
                        werden aber nur für die Bereitstellung des Inhalts verwendet und nicht gespeichert oder
                        anderweitig
                        genutzt.
                        Wir verfolgen mit der Einbindung den Zweck und das berechtigte Interesse, aktuelle und korrekte
                        Inhalte auf unserer Homepage darzustellen. Rechtsgrundlage ist Art 6 Abs. 1 f) DSGVO. Eine
                        Speicherung der genannten Daten erfolgt durch uns aufgrund dieser Einbindung nicht. Weitere
                        Informationen zur Datenverarbeitung durch jameda können Sie der Datenschutzerklärung der Seite
                        <a href="www.jameda.dey" rel="nofollow">www.jameda.de</a> entnehmen.
                    </p>

                    <h2>DGI-News-Ticker</h2>

                    <p>Die DGI stellt einen Newsticker zur Verfügung, der in anderen Webseiten eingebunden werden kann.
                        Abgesehen von Serverdaten, die für den Aufbau der Kommunikation technisch zwingend erforderlich
                        sind, erfolgt dabei keine Erhebung von Daten durch die entsprechende Funktion.</p>


                    <h3>Serverdaten</h3>
                    <p>Auf dem Applikationsservern werden Informationen über die abgerufenen Ressourcen gespeichert.
                        Diese
                        Speicherung schließt softwaretechnische Fehlerprotokolle ein, soweit entsprechende Fehler
                        auftreten.
                        Bei dieser Speicherung werden jedoch keine Referenzen auf die eingehenden Anfragen gespeichert.
                        Es
                        handelt sich hierbei also um anonymisierte Daten die ausschließlich zum Zweck der
                        Fehlererkennung
                        und Fehleranalyse erfasst werden. Diese Daten werden nach 30 Tagen vollständig gelöscht.</p>


                    <p>Die Seite www.dginet.de wird von einem externen Unternehmen gehostet. Es handelt sich dabei um
                        die
                        Firma<br>
                        ProfitBricks GmbH<br>
                        Greifswalder Str. 207<br>
                        D-10405 Berlin</p>

                    <p>Im Rahmen der Nutzung einer Webseite oder eines Online-Services werden Daten verarbeitet zum
                        Verbindungsaufbau, zur Aufrechterhaltung der Systemsicherheit und zu weiteren Zwecke der
                        Administration. Die Speicherung dieser Serverdaten erfolgt durch den Provider. Die DGI e.V. hat
                        auf
                        diese Daten keinerlei Zugriff. Aus diesem Grund wird hinsichtlich der Verbindungsdaten auf die
                        Datenschutzerklärung des Providers verwiesen, die Sie unter der nachfolgenden Adresse finden: <a
                            href="https://www.profitbricks.de/de/produkt/datenschutz/datenschutzerklaerung/"
                            rel="nofollow">https://www.profitbricks.de/de/produkt/datenschutz/datenschutzerklaerung/</a>
                    </p>
                </div>
        </article>

    </div>
</div>